<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Email Template - retro green</title>
<style type="text/css">
.case { background: #353732 url('images/body-bg.jpg'); }
h1 { font-family: Georgia, Times New Roman, Times, serif; font-size: 42px; color: #FFF; margin:0px; padding:0px; }
h2 { color: #dac782 !important; font-family: Georgia, Times New Roman, Times, serif; margin-top: 0px; margin-bottom: 10px; padding: 0px; font-weight: bold; font-size: 14px; }
h3 { color: #fff; font-size: 16px; font-family: Georgia, Times New Roman, Times, serif; margin-bottom: 10px; margin-top: 0px; padding: 0px; font-weight: bold; }
h4 { font-size: 16px; font-family: Georgia, Times New Roman, Times, serif; margin-bottom: 10px; padding: 0px; color: #dac782; font-weight: bold; font-style:italic; }
ul { padding: 0px; margin: 0px; list-style: none; }
p { font-size: 12px; font-family: Georgia, Times New Roman, Times, serif; margin-top: 0px; margin-bottom: 10px; padding: 0px; color: #dac782; }
a { color: #fff; text-decoration: underline; }
li { font-size: 13px; font-family: Georgia, Times New Roman, Times, serif; margin-top: 0px; margin-bottom: 10px; padding-left: 20px; color: #fff; background: url(images/li.gif) 0 3px no-repeat; }
li a { color: #fff; text-decoration: none; }
.top p { font-size: 12px; font-family: Georgia, Times New Roman, Times, serif; margin: 0px; padding: 0px; color: #fff; }
.intro p { font-size: 16px; font-family: Georgia, Times New Roman, Times, serif; margin-top: 0px; margin-bottom: 12px; padding: 0px; color: #dac782; font-style: italic; }
.footer p, .sidebar p { font-size: 12px; font-family: Georgia, Times New Roman, Times, serif; margin-top: 0px; margin-bottom: 10px; padding: 0px; color: #6d9a83; }
</style>
<!--[if gte mso 9]>
<style type="text/css">
.body{background: #353732 url('images/body-bg.jpg');}	     
.case { background:none;}
</style>
<![endif]-->
</head>
<body class="body" style="margin: 0; background-color: #353732; background-image: url(images/body-bg.jpg); background-repeat: repeat;" marginheight="0" topmargin="0" marginwidth="0" leftmargin="0">
<!--100% body table-->
<table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
        <td class="case" style="background-color: #353732; background-image: url(images/body-bg.jpg); background-repeat: repeat;">
            <!--[if gte mso 9]>
<td style="background: none;">
<![endif]-->
            <!--header text-->
            <!--header text-->
            <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
                <tr>
                    <td style="background-image: url(images/header-bg.jpg); background-repeat: repeat;" background="images/header-bg.jpg" valign="middle" align="center" height="59" bgcolor="#c8be9a">
                        <table class="top" width="670" border="0" align="center" cellpadding="0" cellspacing="0">
                            <tr>
                                <td align="center">
                                    <multiline label="Description"><p>You are receiving this newsletter because you signed up for it or bought widgets from us.</p></multiline>
                                    <p>Having trouble reading this email?
                                        <a href="{{ url:webversion }}" style="color: #fff; text-decoration: underline;" href="#">View it in your browser.</a>
                                        Not interested anymore?
                                        <a href="{{ url:unsubscribe }}" style="color: #fff; text-decoration: underline;" href="#">Unsubscribe.</a>
                                    </p>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
            <!--/header text-->
            <table width="100%" style="background-image:url(images/masthead-bg.jpg); background-repeat:repeat; background-color:#7a8b7c;" background="images/masthead-bg.jpg" bgcolor="#7a8b7c" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td>
                        <!--masthead-->
                        <table id="masthead" style="background-image:url(images/masthead-bg.jpg); background-repeat:repeat; background-color:#7a8b7c;" background="images/masthead-bg.jpg" bgcolor="#7a8b7c" width="1000" border="0" align="center" cellpadding="0" cellspacing="0">
                            <tr>
                                <td valign="top" height="179">
                                    <table border="0" align="left" cellpadding="0" cellspacing="0">
                                        <tr>
                                            <td valign="top" width="197" height="177">&nbsp;</td>
                                        </tr>
                                    </table>
                                    <table width="153" border="0" align="left" cellpadding="0" cellspacing="0">
                                        <tr>
                                            <td valign="top" width="180" height="15"> </td>
                                        </tr>
                                        <tr>
                                            <td valign="top" height="148" background="images/date-bg.jpg" bgcolor="#6a7b6e" style="margin:0px; padding:0px; background-image:url(images/date-bg.jpg); background-repeat: no-repeat; background-position: top; background-color: #6a7b6e;">
                                                <table width="153" border="0" align="left" cellpadding="0" cellspacing="0">
                                                    <tr>
                                                        <td height="42"></td>
                                                    </tr>
                                                    <tr>
                                                        <td valign="top" align="center">
                                                            <p style="font-size: 20px; font-family: Georgia, 'Times New Roman', Times, serif; margin: 0px; padding: 0px; color: #ffffff;">
                                                                {{ helper:date format="F" }}
                                                            </p>
                                                            <p style="font-size: 20px; font-family: Georgia, 'Times New Roman', Times, serif; margin: 0px; padding: 0px; color: #ffffff;">Newsletter</p>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td valign="top"></td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                    <table width="575" border="0" align="right" cellpadding="0" cellspacing="0">
                                        <tr>
                                            <td valign="top" width="445" height="55">&nbsp;</td>
                                            <td valign="top" width="445" height="55">&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td valign="top">
                                                <h1>
                                                    <singleline label="Title">ABC Widgets</singleline>
                                                </h1>
                                            </td>
                                            <td valign="top"></td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                        <!--/masthead-->
                    </td>
                </tr>
            </table>
            <table width="605" border="0" align="center" cellpadding="0" cellspacing="0">
                <tr>
                    <td height="25"></td>
                </tr>
            </table>
            <table width="605" border="0" align="center" cellpadding="0" cellspacing="0">
                <tr>
                    <td valign="top" width="372">
                        <repeater>
                            <!--section-->
                            <table style="background-image: url(images/box-bg.jpg); background-repeat: repeat;" background="images/box-bg.jpg" border="0" cellspacing="0" cellpadding="20">
                                <tr>
                                    <td width="381" valign="top">
                                        <h3>
                                            <singleline label="Title" repeatertitle="true">Enter title here</singleline>
                                        </h3>
                                        <img style="margin: 15px 0 15px 0; padding: 0px; display: block; border:solid 2px #989997;" width="328" editable="true" label="Image" />
                                        <multiline label="Description"><p>Enter description here</p></multiline>
                                    </td>
                                </tr>
                            </table>
                            <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td height="25"></td>
                                </tr>
                            </table>
                            <!--/section-->
                        </repeater>
                    </td>
                    <td width="233" valign="top">
                        <table class="sidebar" width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <td width="26"></td>
                                <td>
                                    <table width="205" border="0" cellpadding="0" cellspacing="0">
                                        <tr>
                                            <td valign="top" width="220">
                                                <h2>IN THIS ISSUE</h2>
                                                <ul>
                                                    <tableofcontents>
                                                        <li>
                                                            <repeatertitle />
                                                        </li>
                                                    </tableofcontents>
                                                </ul>
                                            </td>
                                        </tr>
                                    </table>
                                    <table width="100%" border="0" cellpadding="0" cellspacing="0">
                                        <tr>
                                            <td height="20"></td>
                                        </tr>
                                    </table>
                                    <table width="205" border="0" cellpadding="0" cellspacing="0">
                                        <tr>
                                            <td valign="top">
                                                <h4>Forward this issue</h4>
                                                <multiline label="Description"><p>Do you know someone who might be interested in receiving this monthly newsletter?</p></multiline>
                                                <!--button-->
                                                <table width="160" border="0" cellspacing="0" cellpadding="10">
                                                    <tr>
                                                        <td style="border-radius: 6px; -moz-border-radius: 6px; -webkit-border-radius: 6px; -khtml-border-radius: 6px; font-size: 12px; font-family: Georgia, 'Times New Roman', Times, serif; color: #ffffff; margin: 0; padding: 0; text-align: center;" height="28" bgcolor="#232723">
                                                            <table width="160" border="0" cellspacing="0" cellpadding="10">
                                                                <tr>
                                                                    <td style="border-radius: 6px; -moz-border-radius: 6px; -webkit-border-radius: 6px; -khtml-border-radius: 6px; font-size: 12px; font-family: Georgia, 'Times New Roman', Times, serif; color: #ffffff; margin: 0; padding: 0; text-align: center;" height="28" bgcolor="#232723">
                                                                        <a href="{{ url:forward }}" style="text-decoration: none; color: #fff;">Foward</a>
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                </table>
                                                <!--/button-->
                                                <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
                                                    <tr>
                                                        <td height="20"></td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td valign="top">
                                                <h4>Unsubscribe</h4>
                                                <multiline label="Description"><p>You are receiving this newsletter because you signed up for the ABC Widget Newsletter.</p></multiline>
                                                <!--button-->
                                                <table width="160" border="0" cellspacing="0" cellpadding="10">
                                                    <tr>
                                                        <td style="border-radius: 6px; -moz-border-radius: 6px; -webkit-border-radius: 6px; -khtml-border-radius: 6px; font-size: 12px; font-family: Georgia, 'Times New Roman', Times, serif; color: #ffffff; margin: 0; padding: 0; text-align: center;" height="28" bgcolor="#232723">
                                                            <a href="{{ url:unsubscribe }}" style="text-decoration: none; color: #fff;">Unsubscribe</a>
                                                        </td>
                                                    </tr>
                                                </table>
                                                <!--/button-->
                                                <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
                                                    <tr>
                                                        <td height="20"></td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td valign="top">
                                                <h4>
                                                    <singleline label="Title">Contact us</singleline>
                                                </h4>
                                                <multiline label="Description"><p>123 Some Street<br />
                                        City, State<br />
                                        99999<br />
                                        (147) 789 7745<br />
                                        <a href="#">www.abcwidgets.com</a>
                                        </p></multiline>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
            <table width="605" border="0" align="center" cellpadding="0" cellspacing="0">
                <tr>
                    <td height="25"></td>
                </tr>
            </table>
            <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
                <tr>
                    <td background="images/footer.jpg" valign="top" height="59"><img style="margin: 0; padding: 0; display: block;" src="images/footer.jpg" width="1000" height="59" /></td>
                </tr>
            </table>
        </td>
    </tr>
</table>
<!--/100% body table-->
</body>
</html>