<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
<title>Email Template - Meagan Fisher - CM2</title>
<style type="text/css">
strong { font-variant: small-caps; text-transform: lowercase; color:#949494; }
h1 { padding: 13px 0 0 0; margin: 0; font-size: 38px; font-weight: bold; border: 0; color:#f9f9f9 !important; font:Helvetica; font-family:Helvetica, sans-serif; }
h2 { font-size: 24px; font-weight: bold; border: 0; color: #767676 !important; display: inline; padding: 0; margin: 0; font-family:Helvetica, Arial, sans-serif; }
h3 { font-family: Arial, Helvetica, sans-serif; font-size: 12px; margin-top: 1px; margin-bottom: 0px; color: #FFFFFF !important; }
p { margin-top: 0px; margin-bottom: 12px; padding: 0; font-size: 12px; font-family: Helvetica, Arial, sans-serif; color:#949494 }
.footer p { padding: 10px 0 10px 0; font-size: 12px; line-height: 22px; border: 0; color: #eeeeee; margin: 0; font-family:Helvetica, Arial, sans-serif }
a { text-decoration: underline; color: #b7b7b7; }
.toc p { margin: 0; }
.top p { padding: 0; font-size: 12px; line-height: 16px; border: 0; color: #EDEDED; margin: 0; font-famiy:Helvetica, Arial, sans-serif; }
</style>
</head>
<body marginheight="0" topmargin="0" marginwidth="0" leftmargin="0" style="margin: 0px; background-color: #FFFFFF; font-family: Helvetica, Arial, sans-serif;">
<!--100% body table-->
<table cellspacing="0" border="0" bgcolor="#ffffff" style="margin: 0; padding: 0; border: 0;" width="100%" cellpadding="0">
    <tr style="margin: 0; padding: 0; border: 0;">
        <td align="center" style="margin: 0; padding: 0; border: 0;">
            <!--email container-->
            <table cellspacing="0" border="0" style="padding: 0; border: 0; margin: 0; background: url(images/bg.jpg);" bgcolor="#797979" width="805" cellpadding="0">
                <tr height="76" style="margin: 0; padding: 0; border: 0;">
                    <td style="padding: 0; border: 0; margin: 0; background: #797979 url(images/top-1.jpg);" width="102"> </td>
                    <td style="padding: 0; border: 0; margin: 0; background: #797979 url(images/top-2.jpg);" width="601">
                        <table cellspacing="0" border="0" style="margin: 0; padding: 0; border: 0;" cellpadding="0">
                            <tr height="20" style="margin: 0; padding: 0; border: 0;">
                                <td style="margin: 0; padding: 0; border: 0;" width="46"></td>
                                <td style="margin: 0; padding: 0; border: 0;" width="508"></td>
                                <td style="margin: 0; padding: 0; border: 0;" width="47"></td>
                            </tr>
                            <tr style="margin: 0; padding: 0; border: 0;">
                                <td height="50" style="margin: 0; padding: 0; border: 0;"></td>
                                <td class="top" align="center">
                                    <p>Not interested anymore?
                                        <a href="{{ url:unsubscribe }}" style="color: #fff; text-decoration: underline;">Unsubscribe. </a>
                                        <br />
                                        Having trouble viewing this email?
                                        <a href="{{ url:webversion }}" style="color: #fff; text-decoration: underline;">View it in your browser.</a>
                                    </p>
                                </td>
                                <td style="margin: 0; padding: 0; border: 0;"></td>
                            </tr>
                            <tr height="18" style="margin: 0; padding: 0; border: 0;">
                                <td style="margin: 0; padding: 0; border: 0;"></td>
                                <td style="margin: 0; padding: 0; border: 0;"></td>
                                <td style="margin: 0; padding: 0; border: 0;"></td>
                            </tr>
                        </table>
                    </td>
                    <td style="padding: 0; border: 0; margin: 0; background: #797979 url(images/top-3.jpg);" width="102"> </td>
                </tr>
                <tr height="67" style="margin: 0; padding: 0; border: 0;">
                    <td style="margin: 0; padding: 0; border: 0;"> </td>
                    <td style="border: 0; padding: 0; color: #f9f9f9; margin: 0; background: #B9B9B9 url(images/header.jpg) no-repeat;" bgcolor="#B9B9B9" width="601">
                        <div style="height:67px;">
                            <table cellspacing="0" border="0" style="margin: 0; padding: 0; border: 0;" cellpadding="0" align="left">
                                <tr style="margin: 0; padding: 0; border: 0;">
                                    <td style="margin: 0; padding: 0; border: 0;" width="452">
                                        <table cellspacing="0" border="0" style="margin: 0; padding: 0; border: 0;" cellpadding="0">
                                            <tr height="55" style="margin: 0; padding: 0; border: 0;">
                                                <td style="margin: 0; padding: 0; border: 0;" width="30"></td>
                                                <td style="margin: 0; padding: 0; border: 0;" align="left" width="422">
                                                    <h1>
                                                        <singleline label="Title">Jasons Tech Blog</singleline>
                                                    </h1>
                                                </td>
                                            </tr>
                                            <tr height="12" style="margin: 0; padding: 0; border: 0;">
                                                <td style="margin: 0; padding: 0; border: 0;"></td>
                                                <td style="margin: 0; padding: 0; border: 0;"></td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td style="margin: 0; padding: 0; border: 0;" width="150">
                                        <table cellspacing="0" border="0" style="margin: 0; padding: 0; border: 0;" cellpadding="0">
                                            <tr style="margin: 0; padding: 0; border: 0;">
                                                <td style="margin: 0; padding: 0; border: 0;" width="20" rowspan="2" align="left"><img src="images/star.png" height="67" width="14" style="display: inline;" /></td>
                                                <td style="margin: 0; padding: 0; border: 0;" width="120"></td>
                                            </tr>
                                            <tr>
                                                <td valign="top">
                                                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                        <tr>
                                                            <td height="32"></td>
                                                        </tr>
                                                    </table>
                                                    <p style="padding: 0; font-size: 10px; font-family: Helvetica, Arial, sans-serif; text-transform: uppercase; margin-top: 0px; margin-bottom: 0px; color:#f9f9f9;">
                                                        {{ helper:date format="F" }}
                                                        {{ helper:date format="Y" }}
                                                    </p>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </td>
                    <td style="margin: 0; padding: 0; border: 0;"> </td>
                </tr>
                <tr style="padding: 0; font-size: 14px; line-height: 21px; font-family: Arial, sans-serif; border: 0; color: #8e8e8e; margin: 0;">
                    <td style="margin: 0; padding: 0; border: 0;"> </td>
                    <td style="padding: 0; border: 0; margin: 0;" bgcolor="#E4E4E4" width="601">
                        <table width="100%" border="0" cellspacing="0" cellpadding="30">
                            <tr>
                                <td valign="top" width="68%">
                                    <repeater>
                                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                            <tr>
                                                <td valign="middle" height="30" width="8%"> <img style="margin: 0; padding: 0;" src="images/arrow.jpg" height="20" width="16" /> </td>
                                                <td valign="middle" height="30" width="92%">
                                                    <h2>
                                                        <singleline label="Title" repeatertitle="true">Enter title here</singleline>
                                                    </h2>
                                                </td>
                                            </tr>
                                        </table>
                                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                            <tr>
                                                <td align="left">
                                                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                        <tr>
                                                            <td height="10"> </td>
                                                        </tr>
                                                    </table>
                                                    <img style="border: 7px solid #838383; margin: 5px 0 12px 0;" width="316" editable="true" label="Image" />
                                                    <multiline label="Description"><p>Enter description here</p></multiline>
                                                    <img src="images/line.jpg" width="327" height="17" /> </td>
                                            </tr>
                                        </table>
                                    </repeater>
                                </td>
                                <td bgcolor="#f3f3f3" valign="top" width="32%">
                                    <table width="150" bgcolor="#b3b3b3" background="images/bar-bg.jpg" border="0" cellspacing="0" cellpadding="0">
                                        <tr>
                                            <td height="23" width="3%"> </td>
                                            <td align="left" height="23" valign="bottom" width="17%"> <img style="margin-top: 0px; margin-bottom: 0px; padding: 0; display: block;" src="images/icon-pages.jpg" width="17" height="21" /> </td>
                                            <td align="left" height="23" width="80%">
                                                <h3> PAGES </h3>
                                            </td>
                                        </tr>
                                    </table>
                                    <table class="toc" width="100%" border="0" cellspacing="0" cellpadding="0">
                                        <tr>
                                            <td align="left" style="padding-bottom: 20px; padding-top: 8px;">
                                                <tableofcontents>
                                                    <p>
                                                        <repeatertitle />
                                                    </p>
                                                    <img style="margin-top: 0px; margin-bottom: 0px; padding: 0; display: block;" src="images/sidebar-line.jpg" width="150" height="10" /> </tableofcontents>
                                            </td>
                                        </tr>
                                    </table>
                                    <table width="150" bgcolor="#b3b3b3" background="images/bar-bg.jpg" border="0" cellspacing="0" cellpadding="0">
                                        <tr>
                                            <td height="23" width="3%"> </td>
                                            <td height="23" valign="bottom" width="17%"> <img style="margin-top: 0px; margin-bottom: 0px; padding: 0; display: block;" src="images/icon-short.jpg" width="17" height="21" /> </td>
                                            <td align="left" height="23" width="80%">
                                                <h3>
                                                    <singleline label="Title">IN SHORT</singleline>
                                                </h3>
                                            </td>
                                        </tr>
                                    </table>
                                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                        <tr>
                                            <td align="left" style="padding-bottom: 20px; padding-top: 8px;">
                                                <multiline label="Description"><p>Enter description here</p></multiline>
                                            </td>
                                        </tr>
                                    </table>
                                    <table width="150" bgcolor="#b3b3b3" background="images/bar-bg.jpg" border="0" cellspacing="0" cellpadding="0">
                                        <tr>
                                            <td height="23" width="3%"> </td>
                                            <td height="23" valign="bottom" width="17%"> <img style="margin-top: 0px; margin-bottom: 0px; padding: 0; display: block;" src="images/icon-share.jpg" width="17" height="21" /> </td>
                                            <td align="left" height="23" width="80%">
                                                <h3> SHARE </h3>
                                            </td>
                                        </tr>
                                    </table>
                                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                        <tr>
                                            <td align="left" style="padding-bottom: 20px; padding-top: 8px;">
                                                <p style="margin: 0; padding: 0; font-family: Helvetica, Arial, sans-serif; font-size: 12px; color:#949494"> Know someone who might be interested in the email? Why not
                                                    <a href="{{ url:forward }}" style="text-decoration: underline; color: #b7b7b7;">forward this</a>
                                                    to them? </p>
                                            </td>
                                        </tr>
                                    </table>
                                    <table width="150" bgcolor="#b3b3b3" background="images/bar-bg.jpg" border="0" cellspacing="0" cellpadding="0">
                                        <tr>
                                            <td height="23" width="3%"> </td>
                                            <td height="23" valign="bottom" width="17%"> <img style="margin-top: 0px; margin-bottom: 0px; padding: 0; display: block;" src="images/icon-x.jpg" width="17" height="21" /> </td>
                                            <td align="left" height="23" width="80%">
                                                <h3> UNSUBSCRIBE </h3>
                                            </td>
                                        </tr>
                                    </table>
                                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                        <tr>
                                            <td align="left" style="padding-top: 8px;">
                                                <p> No longer interested in receiving this email?
                                                    <a href="{{ url:unsubscribe }}" style="text-decoration: underline; color: #b7b7b7;">Unsubscribe instantly.</a>
                                                </p>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td style="margin: 0; padding: 0; border: 0;"> </td>
                </tr>
                <tr height="69" style="margin: 0; padding: 0; border: 0;">
                    <td style="margin: 0; padding: 0; border: 0;"> </td>
                    <td style="padding: 0; border: 0; margin: 0; background: #B9B9B9 url(images/footer.jpg);" bgcolor="#B9B9B9" width="601">
                        <table cellspacing="0" border="0" style="padding: 0; border: 0; margin: 0;" cellpadding="0" width="601">
                            <tr height="12" style="margin: 0; padding: 0; border: 0;">
                                <td style="margin: 0; padding: 0; border: 0;" width="85"></td>
                                <td style="margin: 0; padding: 0; border: 0;"></td>
                                <td style="margin: 0; padding: 0; border: 0;" width="85"></td>
                            </tr>
                            <tr height="40" style="margin: 0; padding: 0; border: 0;">
                                <td style="margin: 0; padding: 0; border: 0;"></td>
                                <td class="footer" align="center">
                                    <multiline label="Description"><p>me Street, City, ST 999999. Ph +1 4 1477 89 754</p></multiline>
                                </td>
                                <td style="margin: 0; padding: 0; border: 0;"></td>
                            </tr>
                            <tr height="12" style="margin: 0; padding: 0; border: 0;">
                                <td style="margin: 0; padding: 0; border: 0;"></td>
                                <td style="margin: 0; padding: 0; border: 0;"></td>
                                <td style="margin: 0; padding: 0; border: 0;"></td>
                            </tr>
                        </table>
                    </td>
                    <td style="margin: 0; padding: 0; border: 0;"> </td>
                </tr>
                <tr height="90" style="margin: 0; padding: 0; border: 0;">
                    <td style="padding: 0; border: 0; margin: 0; background: #797979 url(images/bottom-1.jpg);"> </td>
                    <td style="padding: 0; border: 0; margin: 0; background: #797979 url(images/bottom-2.jpg);" width="601"> </td>
                    <td style="padding: 0; border: 0; margin: 0; background: #797979 url(images/bottom-3.jpg);"> </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
</body>
</html>