<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
<title>Email Template - Geometric</title>
<style type="text/css">
h1 { color: #333 !important; margin: 0px; font-weight: normal; font-size: 60px; font-family: Helvetica, Arial, sans-serif; }
h2 { font-size: 36px; font-family: Helvetica, Arial, sans-serif; color: #333 !important; margin: 0px; }
h3 { font-size: 24px; font-family: Helvetica, Arial, sans-serif; color: #333 !important; margin: 0px; }
h4 { font-size: 18px; font-family: Helvetica, Arial, sans-serif; color: #333 !important; margin: 12px 0px; }
p { font-size: 17px; line-height: 24px; font-family: Georgia, Times New Roman, Times, serif; color: #333; margin: 0px; }
a { color: #4b98d7; text-decoration: none; }
a:hover { color: #09F !important; text-decoration: underline !important; }
a:hover#vw { background-color: #CCC !important; text-decoration: none !important; color:#000 !important; }
a:hover#ff { background-color: #6CF !important; text-decoration: none !important; color:#FFF !important; }
.issue h3 { margin: 0px; padding:0; font-size: 32px; font-family: Helvetica, Arial, sans-serif; color: #FFF !important; }
</style>
</head>
<body marginheight="0" topmargin="0" marginwidth="0" style="margin: 0px; background-color: #FFFFFF;" bgcolor="#FFFFFF" leftmargin="0">
<!--100% body table-->
<table cellspacing="0" border="0" cellpadding="0" width="100%" bgcolor="#FFFFFF">
    <tr>
        <td>
            <!--email container-->
            <table cellspacing="0" border="0" align="center" cellpadding="0" width="624">
                <tr>
                    <td>
                        <!--header-->
                        <table cellspacing="0" border="0" cellpadding="0" width="624">
                            <tr>
                                <td valign="top"> <img src="images/spacer-top.jpg" height="12" width="624" />
                                    <!--top links-->
                                    <table cellspacing="0" border="0" cellpadding="0" width="624">
                                        <tr>
                                            <td valign="middle" width="221">
                                                <p style="font-size: 12px; font-family: Helvetica, Arial, sans-serif; color: #333; margin: 0px;">Is this email not displaying correctly?</p>
                                            </td>
                                            <td valign="top" width="285">
                                                <p style="font-size: 12px; font-family: Helvetica, Arial, sans-serif; color: #333; margin: 0px;">
                                                    <a href="{{ url:webversion }}" id="vw" style="float: left; padding: 5px; -webkit-border-radius: 3px; font-weight: bold; text-decoration: none; color: #333; -khtml-border-radius: 3px; background: #e9e8e8; -moz-border-radius: 3px; border-radius: 3px;">View it in a web browser</a>
                                                </p>
                                            </td>
                                            <td valign="top" width="118">
                                                <p style="font-size: 12px; font-family: Helvetica, Arial, sans-serif; color: #333; margin: 0px;">
                                                    <a href="{{ url:forward }}" id="ff" style="float: left; padding: 5px; -webkit-border-radius: 3px; font-weight: bold; text-decoration: none; color: #FFF; -khtml-border-radius: 3px; background: #4b98d7; -moz-border-radius: 3px; border-radius: 3px;">Forward to a friend</a>
                                                </p>
                                            </td>
                                        </tr>
                                    </table>
                                    <!--/top links-->
                                    <!--line break-->
                                    <table cellspacing="0" border="0" cellpadding="0" width="624">
                                        <tr>
                                            <td valign="top" width="624">
                                                <p><img src="images/line-break.jpg" height="10" width="624" /></p>
                                            </td>
                                        </tr>
                                    </table>
                                    <!--/line break-->
                                    <!--header content-->
                                    <table cellspacing="0" border="0" cellpadding="0" width="624">
                                        <tr>
                                            <td>
                                                <h1><singleline label="Title">ABC Newsletter</singleline></h1>
                                                <h2 style="color: #333 !important; margin: 0px; font-weight: normal; font-size: 30px; font-family: Helvetica, Arial, sans-serif;">//
                                                    {{ helper:date format="F" }} {{ helper:date format="Y" }}
                                                </h2>
                                            </td>
                                            <td id="issue" valign="top" style="background-image: url('images/issue-no.jpg'); background-color: #4b98d7; background-repeat: no-repeat; background-position: top; width: 109px; height: 109px;" bgcolor="#4b98d7">
                                                <!--number-->
                                                <table width="104" align="right" border="0" cellspacing="0" cellpadding="0">
                                                    <tr>
                                                        <td width="52" height="73" valign="bottom"><img align="right" src="images/no.jpg" width="43" height="35" /></td>
                                                        <td class="issue" width="52" valign="bottom">
                                                            <h3><singleline label="Title">12</singleline></h3>
                                                        </td>
                                                    </tr>
                                                </table>
                                                <!--/number-->
                                            </td>
                                        </tr>
                                    </table>
                                    <!--/header content-->
                                </td>
                            </tr>
                        </table>
                        <!--/header-->
                        <!--line break-->
                        <table cellspacing="0" border="0" cellpadding="0" width="624">
                            <tr>
                                <td height="50" valign="middle" width="624"><img src="images/line-break-2.jpg" height="13" width="624" /></td>
                            </tr>
                        </table>
                        <!--/line break-->
                        <!--email content-->
                        <table cellspacing="0" border="0" id="email-content" cellpadding="0" width="624">
                            <tr>
                                <td>
                                    <!--section 1-->
                                    <table class="image" cellspacing="0" border="0" cellpadding="0" width="624">
                                        <tr>
                                            <td>
                                                <p style="font-size: 17px; line-height: 24px; font-family: Georgia, 'Times New Roman', Times, serif; color: #333; margin: 0px;"><img style="border: solid 1px #FFF; box-shadow: 2px 2px 6px #333; -webkit-box-shadow: 2px 2px 6px #333; -khtml-box-shadow: 2px 2px 6px #333; -moz-box-shadow: 2px 2px 6px #333;" alt="image dsc" width="622" editable="true" label="Image" /></p>
                                                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                    <tr>
                                                        <td height="20"></td>
                                                    </tr>
                                                </table>
                                                <h2><singleline label="Title">Enter Title Here</singleline></h2>
                                                <multiline label="Description"><p>Enter description here</p></multiline>
                                            </td>
                                        </tr>
                                    </table>
                                    <!--/section 1-->
                                    <!--line break-->
                                    <table cellspacing="0" border="0" cellpadding="0" width="624">
                                        <tr>
                                            <td height="30" valign="middle" width="624"><img src="images/line-break-2.jpg" height="13" width="624" /></td>
                                        </tr>
                                    </table>
                                    <!--/line break-->
                                    <!--section 2-->
                                    <table cellspacing="0" border="0" cellpadding="0" width="624">
                                        <tr>
                                            <td>
                                                <table class="image" cellspacing="0" border="0" cellpadding="8" width="100%" style="margin-top: 10px;">
                                                    <tr>
                                                        <td valign="top">
                                                            <p style="font-size: 17px; line-height: 24px; font-family: Georgia, 'Times New Roman', Times, serif; color: #333; margin: 0px;"><img alt="img2" style="border: solid 1px #FFF; box-shadow: 2px 2px 6px #333; -webkit-box-shadow: 2px 2px 6px #333; -khtml-box-shadow: 2px 2px 6px #333; -moz-box-shadow: 2px 2px 6px #333;" width="138" editable="true" label="Image" /></p>
                                                            <h4><singleline label="Title">Enter Title Here</singleline></h4>
                                                            <multiline label="Description"><p>Enter description here</p></multiline>
                                                        </td>
                                                        <td valign="top">
                                                            <p style="font-size: 17px; line-height: 24px; font-family: Georgia, 'Times New Roman', Times, serif; color: #333; margin: 0px;"><img alt="img2" style="border: solid 1px #FFF; box-shadow: 2px 2px 6px #333; -webkit-box-shadow: 2px 2px 6px #333; -khtml-box-shadow: 2px 2px 6px #333; -moz-box-shadow: 2px 2px 6px #333;" width="138" editable="true" label="Image" /></p>
                                                            <h4><singleline label="Title">Enter Title Here</singleline></h4>
                                                            <multiline label="Description"><p>Enter description here</p></multiline>
                                                        </td>
                                                        <td valign="top">
                                                            <p style="font-size: 17px; line-height: 24px; font-family: Georgia, 'Times New Roman', Times, serif; color: #333; margin: 0px;"><img alt="img2" style="border: solid 1px #FFF; box-shadow: 2px 2px 6px #333; -webkit-box-shadow: 2px 2px 6px #333; -khtml-box-shadow: 2px 2px 6px #333; -moz-box-shadow: 2px 2px 6px #333;" width="138" editable="true" label="Image" /></p>
                                                            <h4><singleline label="Title">Enter Title Here</singleline></h4>
                                                            <multiline label="Description"><p>Enter description here</p></multiline>
                                                        </td>
                                                        <td valign="top">
                                                            <p style="font-size: 17px; line-height: 24px; font-family: Georgia, 'Times New Roman', Times, serif; color: #333; margin: 0px;"><img alt="img2" style="border: solid 1px #FFF; box-shadow: 2px 2px 6px #333; -webkit-box-shadow: 2px 2px 6px #333; -khtml-box-shadow: 2px 2px 6px #333; -moz-box-shadow: 2px 2px 6px #333;" width="138" editable="true" label="Image" /></p>
                                                            <h4><singleline label="Title">Enter Title Here</singleline></h4>
                                                            <multiline label="Description"><p>Enter description here</p></multiline>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                    <!--/section 2-->
                                    <!--line break-->
                                    <table cellspacing="0" border="0" cellpadding="0" width="624">
                                        <tr>
                                            <td height="30" valign="middle" width="624"><img src="images/line-break-2.jpg" height="13" width="624" /></td>
                                        </tr>
                                    </table>
                                    <!--/line break-->
                                    <!--section 3-->
                                    <table cellspacing="0" border="0" cellpadding="0" width="624">
                                        <tr>
                                            <td>
                                                <repeater>
                                                <!-- content group -->
                                                <table cellspacing="0" border="0" cellpadding="0" width="624">
                                                    <tr>
                                                        <td valign="top" width="378">
                                                            <h3><singleline label="Title">Enter Title Here</singleline></h3>
                                                            <multiline label="Description"><p>Enter description here</p></multiline>
                                                        </td>
                                                        <td align="right" class="image" valign="top" width="246"><img style="border: solid 1px #FFF; box-shadow: 2px 2px 6px #333; -webkit-box-shadow: 2px 2px 6px #333; -khtml-box-shadow: 2px 2px 6px #333; -moz-box-shadow: 2px 2px 6px #333;" align="right" alt="img6" width="217" editable="true" label="Image" /></td>
                                                    </tr>
                                                </table>
                                                <!--line break-->
                                                <table cellspacing="0" border="0" cellpadding="0" width="624">
                                                    <tr>
                                                        <td height="40" valign="middle"> <img src="images/line-break.jpg" height="10" width="624" /> </td>
                                                    </tr>
                                                </table>
                                                <!--/line break-->
                                                <!--/ content group -->
                                                </repeater>
                                            </td>
                                        </tr>
                                    </table>
                                    <!--/section 3-->
                                    <!--line break-->
                                    <table cellspacing="0" border="0" cellpadding="0" width="624">
                                        <tr>
                                            <td height="30" valign="middle" width="624"><img src="images/line-break-2.jpg" height="13" width="624" /></td>
                                        </tr>
                                    </table>
                                    <!--/line break-->
                                    <!--footer-->
                                    <table cellspacing="0" border="0" cellpadding="0" width="624">
                                        <tr>
                                            <td>
                                                <multiline label="Description"><p>You are receiving this newsletter because you subscribed to our Newsletter.</p></multiline>
                                                    <p><a href="{{ url:unsubscribe }}" style="color: #4b98d7; text-decoration: none;">Unsubscribe instantly.</a></p>
                                                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                    <tr>
                                                        <td height="30"></td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                    <!--/footer-->
                                </td>
                            </tr>
                        </table>
                        <!--/email content-->
                    </td>
                </tr>
            </table>
            <!--/email container-->
        </td>
    </tr>
</table>
<!--/100% body table-->
</body>
</html>