<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<style type="text/css">
h1 { color: #4c545b !important; font-family: Georgia, serif; font-size: 41px; font-weight: bold; font-style: italic; margin-top: 0px; margin-bottom: 0px; }
h2 { text-transform: uppercase; font-family: Georgia, serif; font-size: 16px; color: #2b2b2b !important; font-style: italic; border-bottom: 1px solid #c1c1c1; padding: 5px 0 5px 0; font-weight: normal; margin: 0 0 20px 0; }
a { font-weight: bold; color: #4a5359; text-decoration: none; font-style: italic; padding: 0; }
p, li { font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #2b2b2b; line-height: 18px; margin-top: 0px; margin-bottom: 12px; padding: 0; }
li a { text-decoration: underline; padding: 0px; }
.footer p { margin: 0; color: #2b2b2b; }
</style>
</head>
<title>Acme Corporation</title>

<body style="background-image: url('images/bg.gif'); background-color: #fafafa;" marginheight="0" topmargin="0" marginwidth="0" bgcolor="#fafafa" leftmargin="0">
<table cellspacing="0" border="0" height="100%" style="background-image: url('images/bg.gif'); background-color: #fafafa;" cellpadding="0" width="100%">
    <tr>
        <td valign="top">
            <!-- main table -->
            <table cellspacing="0" border="0" align="center" cellpadding="0" width="675">
                <!-- note -->
                <tr>
                    <td valign="top">
                        <table cellspacing="0" border="0" align="center" cellpadding="10" width="500">
                            <tr>
                                <td class="note" valign="top" style="text-align: center; font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #2b2b2b; line-height: 18px;">Having trouble reading 
                                    this email? You can
                                        <a href="{{ url:webversion }}" style="color: #3b464f; font-weight: bold; text-decoration: none;">view it in your web browser</a>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <!-- / note -->
                <!-- header -->
                <tr>
                    <td valign="top">
                        <table cellspacing="0" border="0" align="center" cellpadding="0" width="675">
                            <!-- top -->
                            <tr>
                                <td height="9" valign="top"> <img src="images/header-top.gif" alt="" style="display: block;" /> </td>
                            </tr>
                            <!-- / top -->
                            <!-- middle -->
                            <tr>
                                <td valign="top">
                                    <table cellspacing="0" border="0" cellpadding="0" width="675">
                                        <tr>
                                            <td valign="top" width="5"> <img src="images/header-side.gif" alt="" style="display: block;" /> </td>
                                            <td height="90" valign="top">
                                                <table cellspacing="0" border="0" height="90" cellpadding="0" width="665">
                                                    <tr>
                                                        <td class="header-content" height="90" valign="top" style="background-image: url('images/header-content.gif');">
                                                            <table cellspacing="0" border="0" height="90" cellpadding="0" width="665">
                                                                <tr>
                                                                    <!-- circle -->
                                                                    <td height="81" align="right" valign="middle" width="81">
                                                                        <table cellspacing="0" border="0" height="81" cellpadding="0" width="101">
                                                                            <tr>
                                                                                <td rowspan="3"> <img src="images/spacer.gif" height="1" style="display: block;" width="19" /> </td>
                                                                                <td height="56" align="left" valign="top" width="81" style="color: #fff; text-transform: uppercase; font-size: 9px; text-align: center; font-family: Arial, Helvetica, sans-serif; width: 81px; height: 56px; background-image: url('images/circle.jpg'); padding: 20px 0 0 0; background-repeat: no-repeat;">
                                                                                    <p style="color: #fff; text-transform: uppercase; font-size: 9px; text-align: center; font-family: Arial, Helvetica, sans-serif; margin-top: 0px; margin-bottom: 0px; padding: 0px; -webkit-text-size-adjust: none; clear: both;">
                                                                                        {{ helper:date format="F" }}
                                                                                    </p>
                                                                                    <strong style="font-size: 24px;"><currentday /></strong>
                                                                                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                                                    <tr>
                                                                                    <td height="15"></td>
                                                                                    </tr>
                                                                                    </table>
                                                                                    </td>
                                                                            </tr>
                                                                        </table>
                                                                    </td>
                                                                    <!-- / circle -->
                                                                    <td class="main-title" align="right" valign="middle" width="545">
                                                                   <h1><singleline label="Title">Enter title here</singleline></h1>
                                                                    </td>
                                                                    <td valign="top"> <img src="images/spacer.gif" height="1" alt="" style="display: block;" width="20" /> </td>
                                                                </tr>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                            <td valign="top" width="5"> <img src="images/header-side.gif" alt="" style="display: block;" /> </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <!-- / middle -->
                            <!-- botom -->
                            <tr>
                                <td height="35" valign="top"> <img src="images/header-bottom.png" alt="" style="display: block;" /> </td>
                            </tr>
                            <!-- / bottom -->
                        </table>
                    </td>
                </tr>
                <!-- / header -->
                <!-- content -->
                <tr>
                    <td valign="top">
                        <table cellspacing="0" border="0" cellpadding="0">
                            <tr>
                                <td valign="top" width="302">
                                    <table cellspacing="0" border="0" cellpadding="0" width="250">
                                        <tr>
                                            <td valign="top">
                                                <table cellspacing="0" border="0" cellpadding="0">
                                                    <tr>
                                                        <td valign="top">&nbsp;</td>
                                                        <!-- in this issue box -->
                                                        <td valign="top">
                                                            <table cellspacing="0" border="0" cellpadding="0">
                                                                <tr>
                                                                    <td> <img src="images/in-this-issue.gif" alt="" style="display: block;" /> </td>
                                                                </tr>
                                                                <tr>
                                                                    <td valign="top">
                                                                        <table cellspacing="0" border="0" cellpadding="0">
                                                                            <tr>
                                                                                <td width="10" valign="top" style="background: url(images/box-side.gif) repeat-y;" bgcolor="#dadada"></td>
                                                                                <td valign="top">
                                                                                    <table cellspacing="0" border="0" cellpadding="0" width="206" style="background-color: #e6e6e6; background-image: url('images/box-bg.gif');">
                                                                                        <tr>
                                                                                            <td valign="top">
                                                                                                <table cellspacing="0" border="0" cellpadding="10" width="206">
                                                                                                    <tr>
                                                                                                        <td valign="top">
                                                                                                        <ul style="list-style: decimal-leading-zero; margin: 0px; padding: 0 0 0 25px;">
                                                                                                        <tableofcontents>
                                                                                                        <li><repeatertitle /></li>
                                                                                                        </tableofcontents>
                                                                                                        </ul>
                                                                                                        </td>
                                                                                                    </tr>
                                                                                                </table>
                                                                                            </td>
                                                                                        </tr>
                                                                                    </table>
                                                                                </td>
                                                                                <td width="10" style="background: url(images/box-side.gif) repeat-y;" valign="top" bgcolor="#dadada"> </td>
                                                                            </tr>
                                                                        </table>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td> <img src="images/box-bottom.gif" alt="" style="display: block;" /> </td>
                                                                </tr>
                                                            </table>
                                                        </td>
                                                        <!-- / in this issue box -->
                                                    </tr>
                                                    <tr>
                                                        <td valign="top"> <img src="images/spacer.gif" height="20" alt="" style="display: block;" width="1" /> </td>
                                                    </tr>
                                                    <tr>
                                                        <td valign="top">&nbsp;</td>
                                                        <td valign="top">
                                                            <a href="{{ url:forward }}"><img src="images/share.gif" border="0" alt="" style="display: block; padding-bottom:20px;" /></a>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <!-- sidebar -->
                                <td valign="top" width="373">
                                    <repeater>
                                        <table cellspacing="0" border="0" cellpadding="0">
                                            <!-- article title -->
                                            <tr>
                                                <td valign="top"> <img src="images/double-line-small.gif" alt="" style="display: block;" /> </td>
                                            </tr>
                                            <tr>
                                                <td class="article-title" height="30" valign="middle"> 
                                                <h2><singleline label="Title" repeatertitle="true">Enter title here</singleline></h2>
                                                </td>
                                            </tr>
                                            <!-- / article title -->
                                            <!-- article -->
                                            <tr>
                                                <td valign="top"> <img align="right" alt="Sample" width="200" style="padding-left: 10px; padding-bottom: 10px;" editable="true" label="Image" />
                                                    <multiline label="Description"><p>Enter description here</p></multiline>
                                                    
                                                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                        <tr>
                                                            <td valign="top" height="20"></td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                        </table>
                                    </repeater>
                                </td>
                                <!-- / sidebar -->
                            </tr>
                        </table>
                    </td>
                </tr>
                <!-- / content -->
                <!-- footer -->
                <tr>
                    <td valign="top">
                        <table class="footer" cellspacing="0" border="0" cellpadding="0" width="675">
                            <tr>
                                <td valign="top"> </td>
                            </tr>
                            <tr>
                                <td align="center" class="footer" valign="top" style="font-family: Arial, Helvetica, sans-serif; font-size: 11px; color: #2b2b2b; line-height: 18px;"> <img src="images/double-line.gif" alt="" width="675" style="display: block;" />
                                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                        <tr>
                                            <td height="15"></td>
                                        </tr>
                                    </table>
                                    <p>Don't want to receive these newsletters anymore?
                                        <a href="{{ url:unsubscribe }}" style="color: #3b464f; font-weight: bold; text-decoration: none;">Unsubscribe</a></p>
                                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                        <tr>
                                            <td height="15"></td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <!-- / footer -->
            </table>
            <!-- / main table -->
        </td>
    </tr>
</table>
</body>
</html>