<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>SET-3-old-ornament</title>
	<style type="text/css">
	a:hover { text-decoration: none !important; }


	.unsubscribe p {padding: 0; font-size: 12px; line-height: 16px; color: #000; margin: 0; }
	.title h1 {padding: 0; color:#fcfbfa !important; font-family: Times, serif; font-size: 60px; line-height: 60px; margin: 0;}
	.title p {padding: 0; color:#fcfbfa; font-family: Times, serif; font-size: 16px; text-transform: uppercase; margin: 0;}

	.welcome p { padding:0; font-family: Times, serif;}
	.content-items h2 { padding: 8px 0; font-family: Times, serif; font-size: 18px; color: #ab1212 !important; margin: 0 0 10px; border-bottom: 3px double #aaa190;}
	.content-items p { padding: 0; margin: 0 0 12px; font-family: Times, serif; font-size: 12px; }
	.content-items a { font-size: 12px; text-decoration: underline; color: #000;}

	.contact p { padding: 0; margin: 0; font-family: Times, serif; font-size: 12px;}
	.contact a {font-family:  Times, serif; text-decoration: none; color: #cc0000; }
	.menu a {  font-family:  Times, serif; text-decoration: none; color: #cc0000;}

	.sidebar p { margin: 0 0 13px; padding: 0; font-family: Times, serif; font-size: 12px;}

	</style>
</head>

<body style="background-color: #b7a98b; background-image: url(images/bg-all.jpg); color: #222121; font-family: 'Times New Roman', Times, serif; font-size: 13px; line-height: 16px; text-align: left;">
	<table cellspacing="0" border="0" align="center" cellpadding="0" width="100%">
		<tr>
			<td valign="top">
				<a name="top" style="text-decoration: none; color: #cc0000;"></a>
				<table class="main-body" cellspacing="0" border="0" align="center" style="background-color: #d4c5a2; background-image: url(images/bg-main.jpg);" cellpadding="0" width="616">
					<tr>
						<td class="unsubscribe" align="center" style="padding:20px 0"> <!-- unsubscribe -->
							<p><singleline label="Title">You&#39;re receiving this newsletter because you signed up at yoursite.com or bought widgets from us.</singleline></p>
							<p>Having trouble reading this email? <a href="{{ url:webversion }}" style="color: #222121; text-decoration: underline;">View it in your browser</a>. Not interested anymore? <a href="{{ url:unsubscribe }}" style="color: #222121; text-decoration: underline;">Unsubscribe</a>.</p>
						</td>
					</tr>
					<tr>
						<td class="main-td" style="padding: 0 25px;">	<!-- introduction and menu box-->
							<table class="intro" cellspacing="0" border="0" style="background-color: #e3ddca; background-image: url(images/bg-content.jpg); border-bottom: 1px solid #c3b697;" cellpadding="0" width="100%">
								<tr>
									<td valign="top" style="padding: 10px 12px 0px;" colspan="2">
										<table class="banner" cellspacing="0" border="0" style="background: #550808; color: #fcfbfa; font-family: 'Times New Roman', Times, serif;" cellpadding="0" width="100%">
											<tr>
												<td style="background: #e5ddca;"><img src="images/spacer.gif" height="2" style="display: block; border: none;" width="452" /></td>
												<td align="right" style="background: #e5ddca;"><img src="images/banner-top.gif" height="2" style="display: block; border: none;" width="90" /></td>
											</tr>
											<tr>
												<td class="title" valign="top" style="padding: 0 12px 0;">
													<img src="images/spacer.gif" width="1" height="35" style="display: block; border: none;" />
													<h1><singleline label="Title">ABC Widgets</singleline></h1>
													<p>{{ helper:date format="F" }} NEWSLETTER</p>
												</td>
												<td valign="top" align="right" width="90"><img src="images/banner-middle.gif" height="144" style="display: block; border: none;" width="90" /></td>
											</tr>
										</table>
									</td>
								</tr>
								<tr>
									<td class="content" align="left" valign="top" style="font-size: 15px; font-style: italic; line-height: 18px; padding:0 35px 12px 12px; width: 329px;">
										<table width="100%" border="0" cellspacing="0" cellpadding="0" style=" color: #222121; font-family: 'Times New Roman', Times, serif; font-size: 13px; line-height: 16px;">
											<tr>
												<td style="padding:25px 0 0;" class="welcome">
													<multiline label="Description"><p>Dear Name,

														Welcome to lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aliquam molestie quam vitae mi congue tristique. Aliquam lectus orci, adipiscing et, sodales ac. Ut dictum velit nec est. Quisque posuere, purus sit amet malesuada blandit, sapien sapien.

														Regards, ABC Widgets</p></multiline>
													</td>
												</tr>
											</table>
										</td>
										<td class="menu" align="left" valign="top" style="width: 178px; padding: 0 12px 0 0;">
											<table width="100%" border="0" cellspacing="0" cellpadding="0" style=" font-family: 'Times New Roman', Times, serif; font-size: 13px; line-height: 16px;">
												<tr>
													<td valign="top" align="right"><img src="images/banner-bottom.png" height="55" style="display: block; border: none;" width="178" /></td>
												</tr>
												<tr>
													<td valign="top" align="left">
														<ul style="margin: 0; padding: 0;">
															<li style="font-size: 12px; font-family: 'Times New Roman', Times, serif; text-transform: uppercase; border-bottom: 1px solid #c0bcb1; color: #222121; list-style-type: none; padding: 5px 0; display:block">in this issue</li>
															<tableofcontents>
																<li style=" font-family: 'Times New Roman', Times, serif; list-style-type: none; padding: 5px 0; border-bottom: 1px solid #c0bcb1; display:block; text-decoration: none; color: #cc0000;"><repeatertitle /></li>                            
															</tableofcontents>
														</ul>
													</td>
												</tr>
											</table>
										</td>
									</tr>
									<tr>
										<td class="footer" valign="top" colspan="2"><img src="images/spacer.gif" height="15" style="display: block; border: none;" width="1" /></td>
									</tr>
								</table>
							</td>
						</tr>
						<tr>
							<td class="flourish" valign="top" style="padding: 22px 25px;"><img src="images/flourish.png" height="35" style="display: block; border: none;" width="566" /></td>
						</tr>
						<tr>
							<td align="left" valign="top" style="padding: 0 25px;">	
								<table cellspacing="0" cellpadding="0" border="0" width="100%">
									<tr>						
										<!-- sidebar --> 
										<td align="left" valign="top" style="background-color:#e9e3d6; padding:13px 12px 13px 17px; font-family: 'Times New Roman', Times, serif;" class="sidebar" width="199">
											<h3 style="padding:8px 0 8px; font-family: 'Times New Roman', Times, serif; font-size:18px; color:#222121; margin:0; font-weight: normal;">Forward this issue</h3>
											<p style="padding:0; margin:0 0 13px;"><img class="divider" src="images/divider2.jpg" height="5" style="display: block; border: none;" width="178" /></p>
											<multiline label="Description"><p style="margin: 0 0 13px; padding: 0;">Do you know someone who might be interested in receiving this monthly newsletter?</p></multiline>
											<p style=" font-family: 'Times New Roman', Times, serif; padding: 0; margin: 0;"><a href="{{ url:forward }}" style="text-transform: uppercase; color: #cc0000; text-decoration: none;"><strong>forward</strong></a></p>

											<h3 style="padding: 24px 0 8px; font-family: 'Times New Roman', Times, serif; font-size:18px; color:#222121; margin:0; font-weight: normal;">Unsubscribe</h3>
											<p style="padding:0; margin:0 0 13px"><img class="divider" src="images/divider2.jpg" height="5" style="display: block; border: none;" width="178" /></p>
											<multiline label="Description"><p>You are receiving this newsletter because you signed up for the ABC Widget Newsletter.</p></multiline>
											<p style=" font-family: 'Times New Roman', Times, serif; margin: 0; padding: 0;"><a href="{{ url:unsubscribe }}" style="text-transform: uppercase; color: #cc0000; text-decoration: none;"><strong>unsubscribe</strong></a></p>

											<h3 style="padding: 24px 0 8px; font-family: 'Times New Roman', Times, serif; font-size:18px; color:#222121; margin:0; font-weight: normal;">Contact Us</h3>
											<p style="padding:0; margin:0 0 13px"><img class="divider" src="images/divider2.jpg" height="5" style="display: block; border: none;" width="178" /></p>
											<multiline label="Description"><p>123 Some Street<br />
												City, State<br />
												99999<br />
												(147) 789 7745<br />
												<a href="#" style="text-decoration: none; color: #cc0000;">www.abcwidgets.com</a><br />
												<a href="mailto:info@abcwidgets.com" style="text-decoration: none; color: #cc0000;">info@abcwidgets.com</a></p></multiline>
											</td>

											<!-- main content -->
											<td align="left" valign="top" style="background-color:#e3dcc9; background-image: url(images/bg-content.jpg); padding: 13px;" class="content-items">
												<repeater>
													<h2><singleline label="Title" repeatertitle="true">Enter Title Here</singleline></h2>

													<img style=" border: none; background: #f0ece2; border: 1px solid #d5d2c9; padding: 10px; margin-bottom: 10px;" width="311" src="images/img01.jpg" editable="true" label="Image" />

													<multiline label="Description"><p>Enter description text here.</p></multiline>
												</repeater>
											</td>
										</tr>
										<tr>
											<td style="background-color:#e2dbcd;">&nbsp;</td>
											<!-- back to top -->
											<td align="left" valign="top" style="background: #dfd8c8; padding: 10px 0 10px 14px;"><a href="#top" style="text-decoration: none; font-family: 'Times New Roman', Times, serif; color: #cc0000;"><strong>Back to top</strong></a></td>
										</tr>
									</table>
								</td>
							</tr>
							<tr>
								<td align="left" valign="top" style="padding: 22px 25px;"><img src="images/flourish.png" height="35" style="display: block; border: none;" width="566" /></td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</body>

</html>