<!DOCTYPE PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
		<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />	
		<title>Stan&#146;s Newsletter</title>
		<!--general stylesheet-->
		<style type="text/css">
			p { padding: 0; margin: 0; }
			h1, h2, h3, h4, h5, p, li, td { font-family: Helvetica, Arial, sans-serif; }
			td { vertical-align:top;}
			ul, ol { margin: 0; padding: 0}
			.content-item h2 { margin: 0; padding-bottom: 5px; font-size: 22px; font-family: Georgia; font-style: italic; font-weight: lighter; color: #853938 !important; }
			.content-item p { text-align:justify; font-size: 12px; line-height: 25px; color: #524e47;}
			.content-item li { margin-left: 25px;  font-size: 12px; line-height: 25px; color: #524e47;}
			.toc a{ font-size: 11px; font-weight: bold; color: #8d4544;}
		</style>
	</head>
	<body marginheight="0" topmargin="0" marginwidth="0" leftmargin="0" background="images/bg-1.jpg" style="margin: 0px; background-color: #c3b598; background-image: url('images/bg-1.jpg'); background-repeat: repeat;" bgcolor="#c3b598">
		<table cellspacing="0" border="0" cellpadding="0" width="100%" align="center" style="margin: 0px;">
			<tbody>
				<tr valign="top">
					<td valign="top" background="images/bg-1.jpg" style="background-image: url('images/bg-1.jpg'); background-repeat: repeat;"><!--container-->
						<table cellspacing="0" cellpadding="0" border="0" align="center" width="621" height="77">
							<tbody>
								<tr>
									<td valign="top" height="19">&nbsp;</td>
								</tr>
								<tr>
									<td valign="middle" height="23" style="vertical-align:middle !important;">
										<p style="margin:0; padding:0; color:#766d59; font-size: 12px;"><singleline label="Title">You&#39;re receiving this newsletter because you bought widgets from us.</singleline></p>
									</td>
								</tr>
								<tr>
									<td valign="top" height="1" style="margin: 0; padding: 0;"><img width="621" height="1" src="images/spacer-2.jpg" alt="" style="display:block;" /></td>
								</tr>
								<tr>
									<td valign="middle" height="23" style="vertical-align:middle !important;">
										<p style="margin:0; padding:0; color:#766d59; font-size: 12px;">Not interested anymore? <a href="{{ url:unsubscribe }}" style="color:#75211e; font-size:12px; font-weight:bold; text-decoration:none;">Unsubscribe</a>. Having trouble viewing this email? <a href="{{ url:webversion }}" style="color:#75211e; font-size:12px; font-weight:bold; text-decoration:none;">View it in your browser</a>.</p>
									</td>
								</tr>
								<tr>
									<td valign="top" height="1" style="margin: 0; padding: 0;"><img width="621" height="1" src="images/spacer-2.jpg" alt="" style="display:block;" /></td>
								</tr>
								<tr>
									<td valign="top" height="10">&nbsp;</td>
								</tr>
							</tbody>
						</table>
						<table cellspacing="0" cellpadding="0" border="11" align="center" width="621" bgcolor="#f7f3e6" background="images/bg-stamp-2.jpg" style="border-width:11px; border-color:#ffffff; border-style:solid; background-color:#f7f3e6; background-image: url('images/bg-stamp-2.jpg'); background-position: center top; background-repeat: repeat-x;">
							<tbody>
								<tr>
									<td valign="top" border="0" style="border: none; ">
										<table cellspacing="0" cellpadding="0" border="0" align="center" style="padding-bottom: 13px;">
											<tbody>
												<tr>
													<td valign="top" colspan="2"><img width="599" height="18" src="images/header-top.jpg" alt="" /></td>
												</tr>
												<tr>
													<td valign="top" width="511" style="padding-top: 19px; padding-left: 21px;"> <h1 style="margin: 0; font-size: 42px; color:#33384f !important;"><singleline label="Title">Enter Title Here</singleline></h1></td>
													<td valign="top" width="88"><img width="65" height="71" src="images/stamp-bell.jpg" alt="" /></td>
												</tr>
												<tr>
													<td valign="top" colspan="2"><img width="599" height="6" src="images/double-spacer.jpg" alt="" /></td>
												</tr>
											</tbody>
										</table>
							<!--content--><table cellspacing="0" cellpadding="0" border="0" align="center" width="597" style="padding-bottom: 20px;">
											<tbody>
												<tr>
													<td valign="top" width="401">
														<table cellspacing="0" cellpadding="0" border="0" align="center" width="401">
															<tbody>
																<tr>
																	<td valign="top" style="padding-top: 6px; padding-bottom: 5px; padding-left: 23px; background-image: url('images/date-bg.jpg'); background-repeat: repeat-x; background-position: center;" bgcolor="#545D6C" background="images/date-bg.jpg">
																		<h3 class="date" style="margin:0; color:#ffffff !important; font-size: 10px; font-weight: bold; text-transform: uppercase; background-color: #545D6C; ">{{ helper:date format="F" }} <currentday />, {{ helper:date format="Y" }}</h3>
																	</td>
																</tr>
															</tbody>
														</table>
														<repeater>
														<table cellspacing="0" cellpadding="0" border="0" align="center" style="padding-left: 23px; padding-right: 23px;" class="content-item">
															<tbody>
																<tr>
																	<td valign="top" style="padding-top: 10px; padding-bottom: 19px;">
																		<table cellspacing="0" cellpadding="0" border="0" align="center">
																			<tbody>
																				<tr>
																					<td valign="top">
																						<h2><singleline label="Title" repeatertitle="true">Enter Title Here</singleline></h2>
																					</td>
																				</tr>
																				<tr>
																					<td valign="top">
																						<img width="354" height="2" src="images/top-spacer.jpg" alt="" />
																					</td>
																				</tr>
																				<tr>
																					<td valign="top" style="padding-top: 10px;">
																						<img width="325" height="146" style="border: 10px solid #fff; margin-bottom: 10px;" alt="" editable="true" label="Image" />
																						<multiline label="Description"><p>Enter body content here</p></multiline>
																					</td>
																				</tr>
																			</tbody>
																		</table>
																	</td>
																</tr>
																<tr>
																	<td><img width="354" height="6" src="images/article-spacer.jpg" alt="" /></td>
																</tr>
																
															</tbody>
														</table>
														</repeater>
													</td>
													<td valign="top" style="border-left: 2px; border-left-style: dotted; border-left-color: #cbc8bc; background-image: url('images/stamp-2.jpg'); background-position:left 460px; background-repeat: no-repeat;">
														<table cellspacing="0" cellpadding="0" border="0" align="center">
															<tbody>
																<tr>
																	<td valign="top" style="text-align: right;"><img width="181" height="100" src="images/stamp-post-2.jpg" alt="" /></td>
																</tr>
																<tr>
																	<td valign="top" style="padding-left: 29px; padding-right: 29px;">
																		<table cellspacing="0" cellpadding="0" border="0" align="center" width="136" style="font-family: Helvetica, Arial, sans-serif;">
																			<tbody>
																				<tr>
																					<td valign="top" style="padding-bottom:23px">
																						<table cellspacing="0" cellpadding="0" border="0" align="center" width="136">
																							<tbody>
																								<tr>
																									<td valign="top" width="14" style="text-align:left;"><img src="images/star-bullet.jpg" alt="" /></td>
																									<td valign="top" width="122" style="padding: 0; text-align:left;">
																										<h4 style="margin: 0; text-align:left; font-size: 10px; text-transform: uppercase; color: #535e6c;">Contents</h4>
																									</td>
																								</tr>
																								<tr>
																									<td valign="top" colspan="2" style="padding-top: 3px;"><img width="136" height="2" src="images/top-spacer.jpg" alt="" style="display:block;" /></td>
																								</tr>
																							</tbody>
																						</table>
																						<table cellspacing="0" cellpadding="0" border="0" align="center" class="toc">
																							<tbody>
																								<tableofcontents>
																									<tr>
																										<td width="136" valign="top" style="padding-top: 5px; padding-bottom: 5px; border-bottom: 2px; border-bottom-style:dotted; border-bottom-color: #cbc8bc; text-align: left; font-size: 11px; font-weight: bold; color: #8d4544;"><repeatertitle /></td>
																									</tr>
																								</tableofcontents>
																							</tbody>
																						</table>
																					</td>
																				</tr>
																				<tr>
																					<td valign="top" style="padding-bottom:23px">
																						<table cellspacing="0" cellpadding="0" border="0" align="center" width="136">
																							<tbody>
																								<tr>
																									<td valign="top" width="14" style="text-align:left;"><img src="images/star-bullet.jpg" alt="" /></td>
																									<td valign="top" width="122" style="padding: 0; text-align:left;">
																										<h4 style="margin: 0; text-align:left; font-size: 10px; text-transform: uppercase; color: #535e6c;">Share this</h4>
																									</td>
																								</tr>
																								<tr>
																									<td valign="top" colspan="2" style="padding-top: 3px;"><img width="136" height="2" src="images/top-spacer.jpg" alt="" style="display:block;" /></td>
																								</tr>
																							</tbody>
																						</table>
																						<p style="margin-bottom: 5px; padding-bottom: 5px; padding-top: 5px; border-bottom: 2px; border-bottom-style:dotted; border-bottom-color: #cbc8bc; font-size: 11px; color: #726d65;">
																							<singleline label="Title">Know someone who might be interested in the email?</singleline> Why not <a href="{{ url:forward }}" style="color: #8d4544; font-weight: bold; text-decoration: none;">forward this email</a> to them.</p>
																					</td>
																				</tr>
																				<tr>
																					<td valign="top" style="padding-bottom:23px">
																						<table cellspacing="0" cellpadding="0" border="0" align="center" width="136">
																							<tbody>
																								<tr>
																									<td valign="top" width="14" style="text-align:left;"><img src="images/star-bullet.jpg" alt="" /></td>
																									<td valign="top" width="122" style="padding: 0; text-align:left;">
																										<h4 style="margin: 0; text-align:left; font-size: 10px; text-transform: uppercase; color: #535e6c;">Unsubscribe</h4>
																									</td>
																								</tr>
																								<tr>
																									<td valign="top" colspan="2" style="padding-top: 3px;"><img width="136" height="2" src="images/top-spacer.jpg" alt="" style="display:block;" /></td>
																								</tr>
																							</tbody>
																						</table>
																						<p style="margin-bottom: 5px; padding-bottom: 5px; padding-top: 5px; border-bottom: 2px; border-bottom-style:dotted; border-bottom-color: #cbc8bc; font-size: 11px; color: #726d65;">
																							<singleline label="Title">Do not want to receive these emails any more??</singleline> Please <a href="{{ url:unsubscribe }}" style="color: #8d4544; font-weight: bold; text-decoration: none;">unsubscribe</a>.</p>
																					</td>
																				</tr>
																			</tbody>
																		</table>
																	</td>
																</tr>
															</tbody>
														</table>
													</td>
												</tr>
											</tbody>
										</table><!--/content-->
									</td>
								</tr>
								<tr>
									<td valign="top" border="0" bgcolor="#f7f3e6" height="108" style="height: 108px; border: none; margin: 0px; background-color: #f7f3e6;">
										<table cellspacing="0" cellpadding="0" border="0" align="center" width="597">
											<tbody>
												<tr>
													<td valign="top" colspan="2"><img width="597" height="6" src="images/bottom-db-spacer.jpg" alt="" /></td>
												</tr>
												<tr>
													<td valign="top" background="images/footer-bg.jpg" style="padding-top: 14px; padding-left: 24px;">
														<p style="font-size: 11px; line-height:16px; color:#766d59;">Changed your details recently? <preferences style="color:#75211e; font-size:11px; font-weight:bold; text-decoration:none;">Update your preferences</preferences>. Don't want to hear from us again? <a href="{{ url:unsubscribe }}" style="color:#75211e; font-size:11px; font-weight:bold; text-decoration:none;">Unsubscribe</a>.</p>
													</td>
													<td valign="top" width="189" style="padding:0; margin:0;"><img width="189" height="102" src="images/returned.jpg" alt="Returned to sender" /></td>
												</tr>
											</tbody>
										</table>
									</td>
								</tr>
							</tbody>
						</table>
						<!--/container-->
					</td>
				</tr>
			</tbody>
		</table>
	</body>
</html>