<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Email Template - Douh! 3</title>
<style type="text/css">
h1 { font-family: Georgia, Times New Roman, Times, serif; margin: 0; padding: 0; color: #FFF !important; text-shadow: -1px -1px 1px #a10e08; font-size: 32px; }
h2 { font-family: Georgia, Times New Roman, Times, serif; margin-top: 0px; margin-bottom: 12px; padding: 0; color: #de2d1d !important; font-size: 24px; text-shadow: 1px 1px 1px #FFFFFF; }
p { font-family: Georgia, Times New Roman, Times, serif; font-size: 14px; margin-top: 0px; margin-bottom: 12px; padding: 0; color:#757870; font-weight: normal; }
a { color: #de2d1d; text-decoration: underline; }
.top p { font-family: Georgia, Times New Roman, Times, serif; font-size: 14px; color: #bfc1ae; margin: 0; padding: 0; }
.intro p { font-family: Georgia, Times New Roman, Times, serif; font-size: 14px; margin: 0; padding: 0; color:#e7edcf; font-style: italic; }
</style>
</head>
<body style="margin: 0; padding: 0; background-color: #878c80; background-image: url(images/body-bg.jpg); background-repeat: repeat;" marginheight="0" topmargin="0" marginwidth="0" leftmargin="0">
<!--100% body table-->
<table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
        <td bgcolor="#d8e7ea" style="background-color: #878c80; background-image: url(images/body-bg.jpg); background-repeat: repeat;">
            <!--header text-->
            <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
                <tr>
                    <td>
                        <table class="top" width="600" border="0" align="center" cellpadding="0" cellspacing="0">
                            <tr>
                                <td valign="middle" align="center" height="60"> <em>
                                    <multiline label="Description"><p>You are receiving this newsletter because you signed up for it</p></multiline>
                                    <p>Having trouble reading this email?
                                        <a href="{{ url:webversion }}" style="color:#bfc1ae; text-decoration: underline;">View it in your browser.</a>
                                        |
                                        <a href="{{ url:unsubscribe }}" style="color:#bfc1ae; text-decoration: underline;">Click here to unsubscribe.</a>
                                    </p>
                                    </em> </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
            <!--/header text-->
            <!--intro-->
            <table bgcolor="#d4d2c5" background="images/full-bg-top.jpg" width="600" border="0" align="center" cellpadding="0" cellspacing="0">
                <tr>
                    <td valign="top" width="15" height="147"><img style="margin: 0; padding: 0; display: block;" src="images/left-top-curl.jpg" width="15" height="147" /></td>
                    <td valign="top" height="100">
                        <table width="100%" border="0" cellpadding="0" cellspacing="0">
                            <tr>
                                <td width="350" height="23"></td>
                                <td width="52"></td>
                                <td width="120"></td>
                                <td width="48"></td>
                            </tr>
                            <tr>
                                <td valign="top" height="124" background="images/top-intro-bg.jpg" bgcolor="#dd2d1d">
                                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                        <tr>
                                            <td height="30"></td>
                                            <td height="30"></td>
                                        </tr>
                                        <tr>
                                            <td width="20">&nbsp;</td>
                                            <td class="intro" valign="top">
                                                <h1><singleline label="Title">ABC WIDGETS</singleline></h1>
                                                <multiline label="Description"><p>Enter description here</p></multiline></td>
                                        </tr>
                                    </table>
                                </td>
                                <td valign="top"> <img style="margin: 0; padding: 0; display: block;" src="images/bracket-red.png" /> </td>
                                <td valign="top">
                                    <table width="100%" border="0" align="left" cellpadding="0" cellspacing="0">
                                        <tr>
                                            <td valign="top" height="12" align="center"></td>
                                        </tr>
                                        <tr>
                                            <td height="30" align="center">
                                                <table width="27" border="0" cellspacing="0" cellpadding="0">
                                                    <tr>
                                                        <td valign="top" align="center" height="27" bgcolor="#b7b7ac" background="images/date-bg-2.jpg">
                                                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                                <tr>
                                                                    <td height="3"></td>
                                                                </tr>
                                                            </table>
                                                            <p style="font-family: Georgia, 'Times New Roman', Times, serif; font-size: 14px; color: #FFF; margin-bottom: 0px; margin-top: 0px; padding: 0px; -webkit-text-size-adjust: none; clear: both;">
                                                                <currentday />
                                                            </p>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td valign="bottom" height="19" align="center"><img style="margin: 0; padding: 0;" src="images/ornament.gif" width="76" height="19" /> </td>
                                        </tr>
                                        <tr>
                                            <td height="20" align="center">
                                                <p style="font-family: Georgia, 'Times New Roman', Times, serif; font-size: 14px; color: #9c9e93; margin-bottom: 0px; margin-top: 0px; padding: 0px; text-shadow: 1px 1px 1px #FFFFFF; -webkit-text-size-adjust: none; clear: both;">
                                                    {{ helper:date format="F" }}
                                                </p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="center">
                                                <p style="font-family: Georgia, 'Times New Roman', Times, serif; font-size: 24px; color: #9c9e93; margin-bottom: 0px; margin-top: 0px; padding: 0px; text-shadow: 1px 1px 1px #FFFFFF; -webkit-text-size-adjust: none; clear: both;">
                                                    {{ helper:date format="Y" }}
                                                </p>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td align="right" valign="top"><img style="margin: 0; padding: 0; display: block;" src="images/bracket-green.png" width="48" height="124" /></td>
                            </tr>
                        </table>
                    </td>
                    <td valign="top" width="15" height="147"><img style="margin: 0; padding: 0; display: block;" src="images/right-top-curl.jpg" width="15" height="147" /></td>
                </tr>
            </table>
            <!--/intro-->
            
                <table width="600" border="0" align="center" cellpadding="0" cellspacing="0">
                    <tr>
                        <td>
                        <repeater>
                            <!--content section-->
                            <table width="600" border="0" align="center" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td valign="top" width="15"> <img style="margin: 0; padding: 0; display: block;" src="images/left-curl-part-1.jpg" width="15" height="56" /></td>
                                    <td background="images/full-bg.jpg" bgcolor="#d4d2c5" valign="top">
                                        <table width="569" border="0" cellspacing="0" cellpadding="0">
                                            <tr>
                                                <td valign="top" width="30">
                                                    <table width="20" border="0" cellpadding="0" cellspacing="0">
                                                        <tr>
                                                            <td height="27"></td>
                                                        </tr>
                                                        <tr>
                                                            <td><img style="margin: 0; padding: 0; display: block;" src="images/left-curl-part-2.gif" width="12" height="28" /></td>
                                                        </tr>
                                                    </table>
                                                </td>
                                                <td valign="top">
                                                    <table width="514" border="0" cellspacing="0" cellpadding="0">
                                                        <tr>
                                                            <td height="23"></td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <h2><singleline label="Title">Enter title here</singleline></h2>
                                                                <img style="margin: 0; padding-bottom: 15px; display: block;" editable="true" label="Image" width="514" />
                                                                <multiline label="Description"><p>Enter description here</p></multiline>
                                                                
                                                                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                                    <tr>
                                                                        <td height="20"></td>
                                                                    </tr>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                        </table>
                                        <table width="100%" border="0" align="left" cellpadding="0" cellspacing="0">
                                            <tr>
                                                <td background="images/full-bg.jpg" bgcolor="#d4d2c5" width="348">
                                                    <h1 style="font-family: Georgia, 'Times New Roman', Times, serif; margin: 0; padding: 0; color: #de2d1d; font-size: 24px;">
                                                </h1></td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td style="background-color: none;" bgcolor="" valign="top" width="15">&nbsp;</td>
                                </tr>
                            </table>
                            <!--/content section-->
                            </repeater>
                        </td>
                    </tr>
                </table>
            
            <table width="600" border="0" align="center" cellpadding="0" cellspacing="0">
                <tr>
                    <td width="15"> </td>
                    <td>
                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <td height="20"></td>
                            </tr>
                        </table>
                        <p align="center" style="font-family: Georgia, 'Times New Roman', Times, serif; font-size: 14px; margin: 0; padding: 0; color:#bcc1ae; font-weight: normal;">
                            <a href="{{ url:forward }}" style="color: #bcc1ae; text-decoration: underline;">Forward this email to a friend.</a>
                            Not interested anymore?
                            <a href="{{ url:unsubscribe }}" style="color: #bcc1ae; text-decoration: underline;">Unsubscribe.</a>
                        </p>
                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <td height="20"></td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
<!--/100% body table-->
</body>
</html>