<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Email Template - Douh! 3</title>
<style type="text/css">
h1 { font-family: Georgia, Times New Roman, Times, serif; margin: 0; padding: 0; color: #FFF !important; text-shadow: -1px -1px 1px #a10e08; font-size: 32px; }
h2 { font-family: Georgia, Times New Roman, Times, serif; margin-top: 0px; margin-bottom: 12px; padding: 0; color: #de2d1d !important; font-size: 24px; text-shadow: 1px 1px 1px #FFFFFF; }
h3 { font-family: Georgia, Times New Roman, Times, serif; margin-top: 0px; margin-bottom: 12px; padding: 0; color: #de2d1d !important; font-size: 16px; text-shadow: 1px 1px 1px #FFFFFF; }
h4 { font-family: Georgia, Times New Roman, Times, serif; font-size: 12px; margin-bottom: 5px; margin-top: 0px; padding: 0; color:#de2d1d !important; font-weight: bold; }
p { font-family: Georgia, Times New Roman, Times, serif; font-size: 14px; margin-top: 0px; margin-bottom: 12px; padding: 0; color:#757870; font-weight: normal; }
a { color: #de2d1d; text-decoration: underline; }
.top p { font-family: Georgia, Times New Roman, Times, serif; font-size: 14px; color: #bfc1ae; margin: 0; padding: 0; }
.intro p { font-family: Georgia, Times New Roman, Times, serif; font-size: 14px; margin: 0; padding: 0; color:#e7edcf; }
.sidebar p { font-style: italic; }
ul { margin: 0px; padding: 0px; list-style: none; }
li { font-family: Georgia, Times New Roman, Times, serif; font-size: 14px; margin-top: 0px; margin-bottom: 12px; padding-left: 15px; color:#757870; font-weight: normal; background: url(images/li.gif) 0 3px no-repeat; }
li a { color:#757870; text-decoration: none; }
</style>
</head>
<body style="margin: 0; padding: 0; background-color: #878c80; background-image: url(images/body-bg.jpg); background-repeat: repeat;" marginheight="0" topmargin="0" marginwidth="0" leftmargin="0">
<!--100% body table-->
<table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
        <td bgcolor="#d8e7ea" style="background-color: #878c80; background-image: url(images/body-bg.jpg); background-repeat: repeat;">
            <!--header text-->
            <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
                <tr>
                    <td>
                        <table class="top" width="600" border="0" align="center" cellpadding="0" cellspacing="0">
                            <tr>
                                <td valign="middle" align="center" height="60"> <em>
                                    <multiline label="Description"><p>You’re receiving this newsletter because you signed up for it</p></multiline>
                                    <p>Having trouble reading this email?
                                        <a href="{{ url:webversion }}" style="color:#bfc1ae; text-decoration: underline;">View it in your browser.</a>
                                        |
                                        <a href="{{ url:unsubscribe }}" style="color:#bfc1ae; text-decoration: underline;">Click here to unsubscribe.</a>
                                    </p>
                                    </em> </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
            <!--/header text-->
            <!--intro-->
            <table bgcolor="#e5e3db" background="images/full-bg-top.jpg" width="600" border="0" align="center" cellpadding="0" cellspacing="0">
                <tr>
                    <td valign="top" width="15" height="147"><img style="margin: 0; padding: 0; display: block;" src="images/right-top-curl2.jpg" width="15" height="147"></td>
                    <td valign="top" height="100">
                        <table width="100%" border="0" cellpadding="0" cellspacing="0">
                            <tr>
                                <td bgcolor="#ddd9ce" background="images/right-bg.jpg" width="48" height="23"></td>
                                <td bgcolor="#ddd9ce" background="images/right-bg.jpg" width="0"></td>
                                <td bgcolor="#ddd9ce" background="images/right-bg.jpg" width="52"></td>
                                <td width="350"></td>
                            </tr>
                            <tr>
                                <td bgcolor="#ddd9ce" background="images/right-bg.jpg" valign="top" height="124"> <img style="margin: 0; padding: 0; display: block;" src="images/bracket-green2.png"> </td>
                                <td background="images/right-bg.jpg" bgcolor="#ddd9ce" valign="top">
                                    <table background="images/right-bg.jpg" bgcolor="#ddd9ce" width="100%" border="0" align="left" cellpadding="0" cellspacing="0">
                                        <tr>
                                            <td valign="top" height="12" align="center"></td>
                                        </tr>
                                        <tr>
                                            <td height="30" align="center">
                                                <table width="27" border="0" cellspacing="0" cellpadding="0">
                                                    <tr>
                                                        <td valign="top" align="center" height="27" bgcolor="#b7b7ac" background="images/date-bg-1.jpg">
                                                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                                <tr>
                                                                    <td height="3"></td>
                                                                </tr>
                                                            </table>
                                                            <p style="font-family: Georgia, 'Times New Roman', Times, serif; font-size: 14px; color: #FFF; margin-bottom: 0px; margin-top: 0px; padding: 0px; -webkit-text-size-adjust: none; clear: both;">
                                                                <currentday>
                                                            </p>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td valign="bottom" height="19" align="center"><img style="margin: 0; padding: 0;" src="images/ornament.gif" width="76" height="19"> </td>
                                        </tr>
                                        <tr>
                                            <td height="20" align="center">
                                                <p style="font-family: Georgia, 'Times New Roman', Times, serif; font-size: 14px; color: #9c9e93; margin-bottom: 0px; margin-top: 0px; padding: 0px; text-shadow: 1px 1px 1px #FFFFFF; -webkit-text-size-adjust: none; clear: both;">
                                                    <currentmonthname>
                                                </p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="center">
                                                <p style="font-family: Georgia, 'Times New Roman', Times, serif; font-size: 24px; color: #9c9e93; margin-bottom: 0px; margin-top: 0px; padding: 0px; text-shadow: 1px 1px 1px #FFFFFF; -webkit-text-size-adjust: none; clear: both;">
                                                    <currentyear>
                                                </p>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td background="images/right-bg.jpg" bgcolor="#ddd9ce" valign="top"> <img align="right" style="margin: 0; padding: 0; display: block;" src="images/bracket-red2.png"> </td>
                                <td valign="top" height="124" background="images/top-intro-bg.jpg" bgcolor="#dd2d1d">
                                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                        <tr>
                                            <td height="30"></td>
                                            <td height="30"></td>
                                        </tr>
                                        <tr>
                                            <td width="20">&nbsp;</td>
                                            <td class="intro" valign="top">
                                                <h1>ABC WIDGETS</h1>
                                                <em>
                                                <p>Lorem ipsum dolor sit amet</p>
                                                </em> </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td valign="top" width="15" height="147"><img style="margin: 0; padding: 0; display: block;" src="images/left-top-curl2.jpg" width="15" height="147"></td>
                </tr>
            </table>
            <!--/intro-->
            <table width="600" border="0" align="center" cellpadding="0" cellspacing="0">
                <tr>
                    <td width="15"></td>
                    <td>
                    <table background="images/full-bg.jpg" width="100%" border="0" cellspacing="0" cellpadding="0">
                                        <tr>
                                            <td valign="top" width="220">
                                                <table width="100%" class="sidebar" bgcolor="#ddd9ce" background="images/right-bg.jpg" border="0" cellpadding="10" cellspacing="0">
                                                    <tr>
                                                        <td valign="top">
                                                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                                <tr>
                                                                    <td height="20"></td>
                                                                </tr>
                                                            </table>
                                                            <h3>IN THIS ISSUE</h3>
                                                            <ul>
                                                                <tableofcontents>
                                                                    <li>
                                                                        <repeatertitle>
                                                                    </li>
                                                                </tableofcontents>
                                                            </ul>
                                                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                                <tr>
                                                                    <td valign="middle" height="10"><img style="margin: 0; padding: 0; display: block;" src="images/line-break-dotted3.gif" width="179" height="6"></td>
                                                                </tr>
                                                            </table>
                                                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                                <tr>
                                                                    <td height="20"></td>
                                                                </tr>
                                                            </table>
                                                            <h3>
                                                                <singleline label="Title">IN OTHER NEWS</singleline>
                                                            </h3>
                                                            <repeater>
                                                                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                                    <tr>
                                                                        <td>
                                                                            <h4>
                                                                                <singleline label="Title">Enter title here</singleline>
                                                                            </h4>
                                                                            <multiline label="Description"><p>Enter description here</p></multiline>
                                                                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                                                <tr>
                                                                                    <td valign="middle" height="20"><img style="margin: 0; padding: 0; display: block;" src="images/line-break-dotted3.gif" width="179" height="6"></td>
                                                                                </tr>
                                                                            </table>
                                                                        </td>
                                                                    </tr>
                                                                </table>
                                                            </repeater>
                                                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                                <tr>
                                                                    <td height="20"></td>
                                                                </tr>
                                                            </table>
                                                            <h4>
                                                                <singleline label="Title">CONTACT US</singleline>
                                                            </h4>
                                                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                                <tr>
                                                                    <td height="10"></td>
                                                                </tr>
                                                            </table>
                                                            <multiline label="Description"> <p><em>123 Some Street,<br>
                                                                City<br>
                                                                ST99999.<br>
                                                                ph +1 4 1477 89 745</em> </p></multiline>
                                                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                                <tr>
                                                                    <td height="10"></td>
                                                                </tr>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                            <td align="left" valign="top">
                                                
                                                <repeater>
                                                <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
                                                    <tr>
                                                        <td valign="top">
                                                        <table border="0" cellpadding="0" cellspacing="0">
                                            <tr>
                                                <td valign="top" width="30">
                                                   
                                                    </td>
                                                <td valign="top">
                                                <table width="300" border="0" cellspacing="0" cellpadding="0">
                                                        <tr>
                                                            <td height="23"></td>
                                                            </tr>
                                                        <tr>
                                                            <td width="300">
                                                                <h2><singleline label="Title" repeatertitle="true">Enter title here</singleline></h2>
                                                                <img style="margin: 0; padding-bottom: 15px; display: block;" editable="true" label="Image" width="300" height="147" alt="img">
                                                                <multiline label="Description"><p>Enter description here</p></multiline>
                                                                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                                    <tr>
                                                                        <td height="20"></td>
                                                                        </tr>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                
                                                    
                                                    </td>
                                                <td valign="top"><table align="right" width="20" border="0" cellpadding="0" cellspacing="0">
                                                        <tr>
                                                            <td width="20" height="27"></td>
                                                            </tr>
                                                        <tr>
                                                            <td width="20" align="right"><img style="margin: 0; padding: 0;" src="images/right-curl-part-2.gif" width="12" height="28"></td>
                                                            </tr>
                                                        </table></td>
                                                </tr>
                                            </table>
                                                        </td>
                                                        <td bgcolor="#878c80" width="15" valign="top">
                                                        <img style="margin: 0; padding: 0; display: block;" src="images/right-curl-part-1.jpg" width="15" height="56">
                                                        </td>
                                                    </tr>
                                                </table>
                                                </repeater>
                                                
                                                
                                            </td>
                                        </tr>
                        </table>
                    </td>
                </tr>
            </table>
            <table width="600" border="0" align="center" cellpadding="0" cellspacing="0">
                <tr>
                    <td width="15"> </td>
                    <td>
                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <td height="20"></td>
                            </tr>
                        </table>
                        <p align="center" style="font-family: Georgia, 'Times New Roman', Times, serif; font-size: 14px; margin: 0; padding: 0; color:#bcc1ae; font-weight: normal;">
                            <a href="{{ url:forward }}" style="color: #bcc1ae; text-decoration: underline;">Forward this email to a friend.</a>
                            Not interested anymore?
                            <a href="{{ url:unsubscribe }}" style="color: #bcc1ae; text-decoration: underline;" href="#">Unsubscribe.</a>
                        </p>
                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <td height="20"></td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
<!--/100% body table-->
</body>
</html>