<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
	<head>
		<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />	
		<title>Newsletter template - Gretta&#146;s Garden Goods</title>
		<!--general stylesheet-->
		<style type="text/css">
			p { padding: 0; margin: 0; }
			h1, h2, h3, p, li { font-family: Helvetica, Arial, sans-serif; }
			td { vertical-align:top;}
			ul, ol { margin: 0; padding: 0;}
			.content-item h2 {margin:0; padding:0; color:#d8d498 !important; font-size:22px; font-weight:bold; font-family: Helvetica;}
			.content-item p { margin:0 0 8px; font-size:14px; line-height:22px; color:#959d8c; font-weight:normal; font-family: Georgia;}
			.content-item a { color:#d8d498; font-family:Arial;}
			.toc a {font-size:13px; font-style: normal; font-weight: bold; color:#dad79e; text-align: right; font-family: Arial, Helvetica;}
			.footer p {margin:0; padding-bottom: 3px; padding-top: 3px; color:#b7c0ab; font-size: 12px; text-align:center; font-family: Arial, Helvetica; }
			.footer a { color:#d8d498; font-family:Arial;}
		</style>
	</head>
	<body marginheight="0" topmargin="0" marginwidth="0" leftmargin="0" style="margin: 0px; background-color: #edf5e4;" bgcolor="#edf5e4">
		<table cellspacing="0" border="0" cellpadding="0" width="100%" bgcolor="#edf5e4">
			<tbody>
				<tr valign="top">
					<td valign="top"><!--container-->
						<table cellspacing="0" cellpadding="0" border="0" align="center" width="655">
							<tbody>
								<tr><!--content-->
									<td valign="top">
										<table cellspacing="0" cellpadding="0" border="0" align="center" width="600" height="83" style="">
											<tbody>
												<tr>
													<td valign="top" height="20">&nbsp;
														
													</td>
												</tr>
												<tr>
													<td valign="top" style="text-align:center;">
														<p style="margin:0; padding-bottom: 3px; padding-top: 3px; color:#b7c0ab; font-size: 12px; text-align:center; font-family: Arial, Helvetica;">
			                                                <singleline label="Title">You are receiving this newsletter because you bought widgets from us. </singleline>
			                                            </p>
													</td>
												</tr>
												<tr>
													<td valign="top" style="text-align:center;">	
			                                            <p style="margin:0; padding-bottom: 3px; padding-top: 3px; color:#b7c0ab; font-size: 12px; text-align: center; font-family: Arial, Helvetica;">
			                                                Not interested anymore? <a href="{{ url:unsubscribe }}" style="color:#959d8c; font-size:12px; font-weight:bold; font-style: normal; text-decoration:none;">Unsubscribe</a>. Having trouble viewing this email? <a href="{{ url:webversion }}" style="color:#959d8c; font-size:12px; font-weight:bold; font-style: normal; text-decoration:none;">View it in your browser</a>.
			                                            </p>
													</td>
												</tr>
												<tr>
													<td valign="top" height="20">&nbsp;
														
													</td>
												</tr>
											</tbody>
										</table>
										<table cellspacing="0" cellpadding="0" border="0" align="center" width="600" bgcolor="#ffffff">
											<tbody>
												<tr>
													<td colspan="2" valign="top" height="84">
														<img width="30" height="84" src="images/tl-corner.jpg" alt="" style="display: block;" />
													</td>
													<td valign="top" height="84" style="vertical-align:top">
														<table cellspacing="0" cellpadding="0" border="0" align="center" height="78">
															<tbody>
																<tr>
																	<td valign="top" height="15">
																		<img width="540" height="15" src="images/top-bar.jpg" alt="" style="display: block;" />
																	</td>
																</tr>
																<tr>
																	<td valign="top">
																		<table cellspacing="0" cellpadding="0" border="0" align="center" width="540">
																			<tbody>
																				<tr>
																					<td valign="middle" style="vertical-align:middle; text-align:left;">
																						<h1 style="margin:0; padding:0; font-size:34px; font-style: italic; font-weight: normal; font-family: Georgia; color:#959d8c !important;"><singleline label="Title">Enter Newsletter Title Here</singleline></h1>
																					</td>
																					<td valign="middle" width="157" style="vertical-align:middle;">
																						<table cellspacing="0" cellpadding="0" border="0" width="157" align="center">
																							<tbody>
																								<tr>
																									<td valign="top" height="19" width="157" bgcolor="#e9e6c8" background="images/date-bg.jpg" style="background-image: url('images/date-bg.jpg'); background-position: center center; background-repeat: no-repeat;">
																										<h2 class="date" style="margin:0; padding:0; width:157px; height:19px; font-size:9px; font-style: normal; font-family: Georgia; text-transform:uppercase; letter-spacing:2px; text-align:center; vertical-align:middle; color:#959d8c !important; ">
																											<span style="display:block; width:157px; padding-top:5px;"><currentmonthname> <currentday></span>
																										</h2>
																									</td>
																								</tr>
																							</tbody>
																						</table>
																					</td>
																				</tr>
																			</tbody>
																		</table>
																	</td>
																</tr>
																<tr>
																	<td valign="top" height="20">
																		<img width="540" height="10" src="images/divider-1.jpg" alt="" style="display: block; padding-top: 10px;" />
																	</td>
																</tr>
															</tbody>
														</table>
													</td>
													<td colspan="2" valign="top" height="84">
														<img width="30" height="84" src="images/tr-corner.jpg" alt="" style="display: block;" />
													</td>
												</tr>
												<tr>
													<td width="8" valign="top" bgcolor="#bec5b6;" style="background-color:#bec5b6;">&nbsp;
														
													</td>
													<td width="22" valign="top">&nbsp;
														
													</td>
													<td valign="top" width="540">
														<table cellspacing="0" cellpadding="0" border="0" align="center" width="540" style="padding-top: 14px;">
															<tbody>
																<tr>
																	<td valign="top" width="360"><!--main-content-->
																		<repeater>
																		<table cellspacing="0" cellpadding="0" border="0" align="center" width="360" class="content-item">
																			<tbody>
																				<tr>
																					<td valign="top" style="">
																						<h2 style="margin:0; padding:0; color:#d8d498 !important; font-size:22px; font-weight:bold; font-family: Helvetica;"><singleline label="Title" repeatertitle="true">Enter Title Here</singleline></h2>
																						<img width="360" height="6" src="images/divider-2.jpg" alt="" style="display: block; padding-top: 10px;" />
																					</td>
																				</tr>
																				<tr>
																					<td valign="top" height="12px;" style="height:12px;">&nbsp;</td>
																				</tr>
																				<tr>
																					<td valign="top">
																						
																								<img width="165" height="95" editable="true" label="Image" alt="" align="left" style="margin: 0 15px 15px 0; padding:7px; background-color:#f1efdc; border:1px; border-style: solid; border-color:#dbd8c0;" />
                                                                                                
                                                                                       <multiline label="Description"><p style="margin:0; font-size:12px; line-height:20px; color:#959d8c; font-weight:normal; font-family: Georgia;">Enter article body content here</p></multiline>
																					</td>
																				</tr>
																				<tr>
																					<td valign="top" height="25px;" style="height:25px;">&nbsp;</td>
																				</tr>
																				
																			</tbody>
																		</table><!--/main-content-->
																		</repeater>
																	</td><!--/main-content-->
																	<td valign="top" style="border-right-style: dotted; border-right-width: 3px; border-right-color: #bbb664;">&nbsp;</td>
																	<td valign="top">&nbsp;</td>
																	<td valign="top" width="140"><!--sidebar-->
																		<table cellspacing="0" cellpadding="0" border="0" align="center" width="140">
																			<tbody>
																				<tr>
																					<td valign="top" style="text-align: left;"><span style="font-size:14px; font-style: italic; color:#959d8c; text-align: left; font-family: Georgia;">Contents</span></td>
																				</tr>
																				<tr>
																					<td valign="top">
																						<table cellspacing="0" cellpadding="0" border="0" align="center" width="100%" class="toc">
																							<tbody>
																								<tableofcontents>
																									<tr>
																										<td valign="top" width="12" style="text-align: left; padding-top: 4px">
																											<img width="8" height="8" src="images/arrow.jpg" alt="" />
																										</td>
																										<td valign="top" width="127" style="text-align: left; padding-top: 4px">
																											<span style="font-size:13px; font-style: normal; font-weight: bold; color:#dad79e; text-align: right; font-family: Arial, Helvetica;"><repeatertitle></span>
																										</td>
																										
																									</tr>
																								</tableofcontents>
																							</tbody>
																						</table>
																					</td>
																				</tr>
																				<tr>
																					<td valign="top" style="text-align: left; padding-top: 14px;"><span style="font-size:14px; font-style: italic; color:#959d8c; text-align: left; font-family: Georgia;">Share this</span></td>
																				</tr>
																				<tr>
																					<td valign="top" style="text-align: left;">
																						<p style="margin:0; padding:0; font-size: 12px; font-style: normal; text-align: left; line-height: 20px; color:#c4cbbb; font-family: Arial, Helvetica;">Know someone who might be interested in the email? Why not <a href="{{ url:forward }}" href="#" style="color:#d8d498; font-size:12px; text-decoration: none;">forward</a> this email to them.</p>
																					</td>
																				</tr>
																				<tr>
																					<td valign="top" style="text-align: left; padding-top: 14px;"><span style="font-size:14px; font-style: italic; color:#959d8c; text-align: left; font-family: Georgia;">Unsubscribe</span></td>
																				</tr>
																				<tr>
																					<td valign="top" style="text-align: left;">
																						<p style="margin:0; padding:0; font-size: 12px; font-style: normal; text-align: left; line-height: 20px; color:#c4cbbb; font-family: Arial, Helvetica;">Don't want to receive these emails any more. Please <a href="{{ url:unsubscribe }}" href="#" style="color:#d8d498; font-size:12px; text-decoration: none;">unsubscribe</a></p>
																					</td>
																				</tr>
																			</tbody>
																		</table>
																	</td><!--/sidebar-->
																</tr>
															</tbody>
														</table>
													</td>
													<td width="22" valign="top">&nbsp;
														
													</td>
													<td width="8" valign="top" bgcolor="#bec5b6;" style="background-color:#bec5b6;">&nbsp;
														
													</td>
												</tr>
												<tr>
													<td valign="top" colspan="5">
														<img width="600" height="188" src="images/bottom.jpg" alt="" style="display: block;" />
													</td>
												</tr>
											</tbody>
										</table>
										<table cellspacing="0" cellpadding="0" border="0" align="center" width="600">
											<tbody>
												<tr>
													<td valign="top" height="20">&nbsp;
														
													</td>
												</tr>
												<tr>
													<td valign="top" style="text-align:center;" class="footer">
														<p style="">
			                                               <multiline label="Description">ABCWidgets Corp - 123 Some Street, City, ST 99999. Ph +1 4 1477 89 745 </multiline>
			                                            </p>
													</td>
												</tr>
										
											</tbody>
										</table>
									</td><!--/content-->
								</tr>
							</tbody>
						</table><!--/container-->
					</td>
				</tr>
			</tbody>
		</table>
	</body>
</html>