<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <title>Very Helvetica</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style type="text/css">a { color: #61c7dd; } a:hover { color: #59b8cc; }
    .content h2{ font-family: Helvetica, Arial, sans-serif; font-size: 30px; font-weight:
    bold; color: #767572 !important; letter-spacing: -2px; line-height: 110%;} .address {
    font-family: Helvetica, Arial, sans-serif; font-size: 11px; color: #767572; margin:
    0; padding: 0; letter-spacing: -0.3px; }</style>
  </head>
  <body bgcolor="#161616" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td valign="top" bgcolor="#161616">
          <table width="600" border="0" align="center" cellpadding="0" cellspacing="0"
          style="font: 14px Helvetica, Arial, sans-serif; color: #767572; line-height: 100%;">

            <tr>
              <td valign="top">
                <table width="600" height="204" border="0" cellpadding="0"
                cellspacing="0">
                  <tr>
                    <td style="height: 63px;">
                      <table width="100%" border="0" cellspacing="0" cellpadding="10">
                        <tr>
                          <td style="font-family: Helvetica, Arial, sans-serif; font-size: 11px; color: #808080; padding-top: 15px;">
                          <singleline label="Title">You are receiving this newsletter
                          because you bought widgets from us.</singleline>
                          <br />Having trouble reading this mail? 
                          <a href="{{ url:webversion }}">View it in your browser</a>. Not
                          interested anymore? 
                          <a href="{{ url:unsubscribe }}">Unsubscribe</a></td>
                        </tr>
                      </table>
                    </td>
                    <td style="height: 56px;">
                      <img src="images/arrow.gif" width="96" height="56"
                      alt="" style="display: block;" />
                    </td>
                  </tr>
                  <tr>
                    <td colspan="2"
                    style="background-image: url(images/header_top_separator.gif); background-repeat: no-repeat; height: 7px;">

                      <img src="images/header_top_separator.gif" alt=""
                      width="600" height="7" style="display: block;" />
                    </td>
                  </tr>
                  <tr>
                    <td valign="top" style="width: 504px; height: 125px;">
                      <table width="100%" border="0" cellspacing="0" cellpadding="0"
                      style="height: 125px;">
                        <tr>
                          <td valign="top" bgcolor="#161616" style="height: 10px;">
                          &#160;</td>
                        </tr>
                        <tr>
                          <td valign="top" bgcolor="#161616"
                          style="height: 50px; font-family: Helvetica, Arial, sans-serif; font-size: 55px; font-weight: bold; color: #f9f8f2; letter-spacing: -2px; line-height: 90%;">

                            <singleline label="Title">Very Helvetica</singleline>
                          </td>
                        </tr>
                        <tr>
                          <td valign="top" bgcolor="#161616"
                          style="height: 25px; font-family: Helvetica, Arial, sans-serif; font-size: 19px; font-weight: bold; color: #4e4e4e; letter-spacing: -2px;">
                          {{ helper:date format="F" }} {{ helper:date format="Y" }} Issue</td>
                        </tr>
                      </table>
                    </td>
                    <td valign="top">
                      <img src="images/badge-whats-new.gif" width="96"
                      height="125" alt="" />
                    </td>
                  </tr>
                  <tr>
                    <td colspan="2" valign="top"
                    style="height: 16px; background-image: url(images/header_border.gif); background-repeat: no-repeat;">

                      <img src="images/header_border.gif" width="600"
                      height="16" />
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr>
              <td valign="top" bgcolor="#161616">
                <table width="100%" border="0" cellpadding="0" cellspacing="0">
                  <tr>
                    <td valign="top" style="height: 35px;">&#160;</td>
                  </tr>
                  <tr>
                    <td valign="top">
                      <repeater>
                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <td style="font-family: Helvetica, Arial, sans-serif; font-size: 30px; font-weight: bold; color: #767572; letter-spacing: -2px; padding-bottom: 20px;">

                              <singleline label="Title">Your title here</singleline>
                            </td>
                          </tr>
                          <tr>
                            <td style="font-family: Helvetica, Arial, sans-serif; color: #767572; padding: 0px 0 40px;">

                              <img alt="" width="598" style="padding-bottom: 20px;"
                              editable="true" label="Image" />
                              <multiline label="Description">
                                <p>Your content here</p>
                              </multiline>
                            </td>
                          </tr>
                        </table>
                      </repeater>
                    </td>
                  </tr>
                </table>
                <tr>
                  <td>
                    <table width="600" border="0" cellpadding="0" cellspacing="0"
                    style="padding-top: 10px;">
                      <tr>
                        <td colspan="6">
                          <img src="images/footer_05.gif" width="599"
                          height="25" alt="" />
                        </td>
                        <td width="1" rowspan="3">
                          <img src="images/footer_02.gif" width="1"
                          height="140" alt="" />
                        </td>
                      </tr>
                      <tr>
                        <td width="179" valign="top">
                          <table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                              <td width="21%" valign="top">
                                <img src="images/icon_email_friend.gif"
                                width="37" height="37" alt="" />
                              </td>
                              <td width="10%" valign="top">&#160;</td>
                              <td width="69%" valign="top">
                                <table width="100%" border="0" cellspacing="0"
                                cellpadding="0">
                                  <tr>
                                    <td>
                                      <table width="100%" border="0" cellspacing="0"
                                      cellpadding="0">
                                        <tr>
                                          <td style="font-family: Helvetica, Arial, sans-serif; font-size: 17px; font-weight: bold; color: #f9f8f2;">
                                          Email Friend:</td>
                                        </tr>
                                      </table>
                                    </td>
                                  </tr>
                                  <tr>
                                    <td valign="top">&#160;</td>
                                  </tr>
                                  <tr>
                                    <td style="font-family: Helvetica, Arial, sans-serif; font-size: 12px; color: #767572;">
                                    Know someone who might be interested? 
                                    <br />
                                    <a href="{{ url:forward }}">Forward it to
                                    them</a>.</td>
                                  </tr>
                                </table>
                              </td>
                            </tr>
                          </table>
                          <p style="font-size: 16px; font-weight: bold; margin: 0; padding: 0 0 6px 0;">
                          &#160;</p>
                        </td>
                        <td width="30" valign="top">&#160;</td>
                        <td width="36" rowspan="2" valign="top">
                          <img src="images/icon-footer.gif" width="36"
                          height="37" alt="" />
                        </td>
                        <td width="16" rowspan="2" valign="top">&#160;</td>
                        <td width="334" rowspan="2" valign="top" class="address">
                          <p style="font-family: Helvetica, Arial, sans-serif; font-size: 16px; font-weight: bold; color: #767572; margin: 0; padding: 0 0 6px 0;">
                          Address:</p>
                          <multiline label="Description">
                            <p>ABCWidgets Corp - 123 Some Street, City, ST 99999. ph +1 4
                            1477 89 745</p>
                          </multiline>
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </body>
</html>