<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <style type="text/css">
      *{font-family: sans-serif; font-size: 13px;}
      body{background-color: #FFFFFF;}
      p{margin: 1em 0;}
    </style>

    <title></title>
  </head>
  <body>
    <div style="max-width: 600px;">

      <multiline label="Content Body">
        <p>This is a regular 'ol email template. It's designed to look.. well, like any other email you would send out.</p>
        <p>
          <strong>Ryan Thompson</strong><br />
          President / CEO<br />
          <a href="http://aiwebsystems.com">AI Web Systems, Inc.</a><br />
          (877) 705-0806
        </p>
      </multiline>
      <p>
        <a href="{{ url:unsubscribe }}" style="color:#dddddd; text-decoration: none;"><small>Unsubscribe from these correspondences.</small></a>
      </p>

    </div>
  </body>
</html>