<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Email Template - High Impact</title>
<style type="text/css">
body { font-size: 12px; color: #666; margin: 0; padding: 0; font-family: Georgia, Times New Roman, Times, serif; }
h1 { color: #fff !important; font-size: 21px; font-family: Arial, Helvetica, sans-serif; margin: 0; padding: 0; text-shadow: 1px 1px 1px #000; }
h2 { color: #fff !important; font-family: Arial, Helvetica, sans-serif; font-size: 14px; margin-top: 0px; margin-bottom: 0px; padding: 0; text-shadow: 1px 1px 1px #000; font-weight: bold; }
.content p { font-size: 14px; color: #333333; margin-top: 0px; margin-bottom: 12px; padding: 0; font-family: Arial, Helvetica, sans-serif; }
.header h1 { font-family: Arial, Helvetica, sans-serif; font-size: 42px; margin: 0; padding: 0; color: #0d2d42 !important; text-shadow: 1px 1px 1px #fff; }
.sidebar p { font-size: 12px; color: #fff; margin: 0; padding: 0; font-family: Arial, Helvetica, sans-serif; }
.sidebar a { color: #00ffff; text-decoration: underline; }
.footer p { font-size: 12px; color: #666; margin: 0; padding: 0; font-family: Arial, Helvetica, sans-serif; }
.footer2 p { font-size: 14px; color: #ffffff; margin: 0; padding: 0; font-family: Arial, Helvetica, sans-serif; }
.button a { color: #ffffff; }
li { font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #ffffff; font-weight: bold; margin: 0; padding: 0; }
.issue a { text-decoration: none; }
</style>
<!--[if gte mso 9]>
<style>
li { margin: 0 0 0 24px; padding: 0; list-style-position: inside; }
</style>
<![endif]-->
</head>
<body style="margin: 0; padding: 0; background-color: #d8e7ea;" marginheight="0" topmargin="0" marginwidth="0" leftmargin="0">
<!--100% body table-->
<table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
        <td bgcolor="#d8e7ea" style="background-color: #d8e7ea;">
            <!--header text-->
            <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
                <tr>
                    <td bgcolor="#0d2d42">
                        <table width="620" border="0" align="center" cellpadding="0" cellspacing="0">
                            <tr>
                                <td valign="middle" align="center" height="60">
                                    <p style="font-family: Arial, Helvetica, sans-serif; font-size: 14px; color: #FFF; text-transform: uppercase; margin: 0; padding: 0;">Email not looking beautiful?
                                        <a href="{{ url:webversion }}" style="text-decoration: none; color: #00ffff">View it in your browser</a>
                                    </p>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
            <!--/header text-->
            <!--intro-->
            <table width="620" border="0" align="center" cellpadding="0" cellspacing="0">
                <tr>
                    <td valign="middle" width="11" height="100"></td>
                    <td valign="middle" height="100">
                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <td class="header" width="64%" height="100">
                                    <h1>
                                        <singleline label="Title">HIGH IMPACT</singleline>
                                    </h1>
                                </td>
                                <td width="36%" height="100" valign="top">
                                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                        <tr>
                                            <td align="left" valign="bottom" height="70">
                                                <p style="text-transform: uppercase; font-size: 14px;  color: #333333; margin: 0; padding: 0; font-family: Arial, Helvetica, sans-serif; float: right;">
                                                    <currentdayname /> <currentday /> {{ helper:date format="F" }} {{ helper:date format="Y" }}
                                                </p>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
            <!--/intro-->
            <table width="620" border="0" align="center" cellpadding="0" cellspacing="0">
                <tr>
                    <td height="25" valign="top" width="348" bgcolor="#FFFFFF"></td>
                    <td height="25" width="11" valign="top" bgcolor="#0d2d42"></td>
                    <td width="12" bgcolor="#0d2d42"></td>
					<td height="25" valign="top" bgcolor="#0d2d42" width="237"></td>
                   <td width="12" bgcolor="#d7e8ea"></td>
                </tr>
            </table>
            <table width="620" border="0" align="center" cellpadding="0" cellspacing="0">
                <tr>
                    <td valign="top" width="360" bgcolor="#FFFFFF">
                        <repeater>
                        <!-- group section -->
                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <td>
                                    <!-- top section -->
                                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                        <tr>
                                            <td valign="top">
                                                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                    <tr>
                                                        <td valign="middle" height="37" bgcolor="#cc0000">
                                                            <table width="100%" border="0" cellpadding="0" cellspacing="0">
                                                                <tr>
                                                                    <td bgcolor="#ffffff" width="26" height="37"></td>
                                                                    <td style="background-image: url(images/bar-end2.png); background-repeat: no-repeat; background-position: right;" width="45" height="37"></td>
                                                                    <td align="left" width="275">
                                                                        <h1>
                                                                            <singleline label="Title" repeatertitle="true">Enter Title Here</singleline>
                                                                        </h1>
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                            <td bgcolor="#0d2d42" valign="top" width="11"><img src="images/side-corner2.gif" width="11" height="58" /></td>
                                        </tr>
                                    </table>
                                    <!-- / top section -->
                                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                        <tr>
                                            <td>
                                                <table width="300" border="0" align="center" cellpadding="0" cellspacing="0">
                                                    <tr>
                                                        <td class="content">
                                                            <multiline label="Description"><p>Enter description here</p></multiline>
                                                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                                <tr>
                                                                    <td height="12"></td>
                                                                </tr>
                                                            </table>
                                                            <img style="margin: 0; padding: 0; border: 10px solid #000000; display: block;" alt="img3" width="280" height="151" editable="true" label="Image" />
                                                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                                <tr>
                                                                    <td height="20"></td>
                                                                </tr>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                            <td bgcolor="#0d2d42" width="11"></td>
                                        </tr>
                                    </table>
                                    <!-- / content section -->
                                </td>
                            </tr>
                        </table>
                        <!-- / group section -->
                        </repeater>
                    </td>
					<td width="12" bgcolor="#0d2d42"></td>
                    <td class="sidebar" valign="top" bgcolor="#0d2d42" background="images/bg-sidebar2.gif" style="background-image: url(images/bg-sidebar2.gif); background-repeat: repeat-y; background-position: left;" width="248">
                        <table class="issue" width="248" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <td style="background-image: url(images/jags2-v2.gif); background-repeat: repeat-y; background-position: left;" valign="top" bgcolor="#0099ff">
                                    <table width="248" border="0" cellpadding="0" cellspacing="0">
                                        <tr>
                                            <td width="228" valign="top" style="padding-left: 20px">
                                                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                    <tr>
                                                        <td height="10"></td>
                                                    </tr>
                                                </table>
                                                <h2 style="padding-left: 20px">
                                                    <singleline label="Title">In This Issue</singleline>
                                                </h2>
                                                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                    <tr>
                                                        <td height="10">&nbsp;</td>
                                                    </tr>
                                                </table>
                                                <ul style="margin: 0; padding: 0; line-height: 18px; list-style: disc;">
                                                    <tableofcontents>
                                                       <li><repeatertitle /></li>
                                                    </tableofcontents>
                                                </ul>
                                                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                 <tr>
                                                     <td height="20">&nbsp;</td>
                                                  </tr>
                                               </table>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
							<tr>
								<td valign="bottom" bgcolor="#0d2d42" height="19"><img src="images/side-corner-blue2.gif" height="19" width="11" style="display: block;" align="right" /></td>
							</tr>
                        </table>
                        <repeater>
                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                            <tr>
                                                <td height="20"></td>
                                            </tr>
                                        </table>
                            
							<table width="237" border="0" cellspacing="0" cellpadding="0">
	                            <tr>
	                                <td width="11"></td>
	                                <td bgcolor="#000000" style="padding-top: 5px; padding-bottom: 5px; padding-left: 16px">
	                                    <h2>
                                            <singleline label="Title">Enter Title Here</singleline>
                                        </h2>
	                                </td>
	                            </tr>
	                        </table>
	                        <table width="237" border="0" cellspacing="0" cellpadding="0">
	                            <tr>
	                                <td width="27"> </td>
	                                <td>
                                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                            <tr>
                                                <td height="10"></td>
                                            </tr>
                                        </table>
                                        <multiline label="Description"><p>Enter description here</p></multiline>
                                    </td>
	                            </tr>
	                        </table>
                        </repeater>
                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <td height="20"></td>
                            </tr>
                        </table>
                        <!--button-->
                        <table width="200" border="0" align="center" cellpadding="10" cellspacing="0">
                            <tr>
                                <td class="button" style="border-radius: 6px; -moz-border-radius: 6px; -webkit-border-radius: 6px; -khtml-border-radius: 6px; color: #ffffff; text-align: center;" height="28" bgcolor="#0099ff">
                                    <a href="{{ url:forward }}" style="text-decoration: none; margin-top: 0px; margin-bottom: 0px; color: #FFF; font-family: Arial, Helvetica, sans-serif; font-size: 16px;">Share this email</a>
                                </td>
                            </tr>
                        </table>
                        <!--/button-->
                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <td height="20"></td>
                            </tr>
                        </table>
                    </td>
                    
                </tr>
            </table>
            <!--/ section-->
            <!--footer-->
            <table width="620" border="0" align="center" cellpadding="20" cellspacing="0">
                <tr>
                    <td class="footer" valign="top">
                        <p><multiline label="Description">You received this email because at some point in the past you either bought one of our products, signed up to our mailing list, or drunk some of that ‘special’ tea we slipped you. If you’d like, you can</multiline> <a href="{{ url:unsubscribe }}" style="color: #cc0000; text-decoration: none;">unsubscribe</a></p>
                    </td>
                </tr>
            </table>
            <!--footer-->
            <!--footer2-->
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td class="footer2" bgcolor="#0d2d42" align="center" valign="middle">
                        <table width="620" border="0" align="center" cellpadding="20" cellspacing="0">
                            <tr>
                                <td><multiline label="Description"><p>Company and the Company logo are registered trademarks of Company
Company — 123 Some Street, City, ST 99999. Ph +1 4 1477 89 745</p></multiline></td>
                            </tr>
                        </table>
                        
                    </td>
                </tr>
            </table>
            <!--/footer2-->
        </td>
    </tr>
</table>
<!--/100% body table-->
</body>
</html>