<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Email Template - duoh! template 2</title>
<style>
h1 {color: #547159 !important; font-size: 48px; text-shadow: 1px 1px 1px #fff; font-family: Georgia, 'Times New Roman', Times, serif; margin: 0; padding: 0;}
h2 {color: #9faf78 !important; font-size: 30px; margin-bottom: 10px; font-family: Georgia, 'Times New Roman', Times, serif; padding: 0;}
.content p {font-size: 13px; color: #686f64; font-family: Arial, Helvetica, sans-serif; padding: 0; margin: 0 0 10px 0;}
.content ul, .content ol{margin:0 0 0 30px; padding:0;}
.content ul li, .content ol li{font-size: 13px; color: #686f64; font-family: Arial, Helvetica, sans-serif; padding: 0; margin: 0 0 10px 0;}
.content a {color: #9faf78 !important; text-decoration: underline !important;}
.content a:hover {color: #9faf78 !important; text-decoration: underline !important;}
.footer p {color: #fff; font-size: 13px; font-family: Arial, Helvetica, sans-serif; margin: 0; padding: 0; }
</style>

<!--[if gte mso 9]>
<style type="text/css">
.body{background: #353732 url('images/body-bg.jpg');}	     
.case {background:none;}
</style>
<![endif]-->
</head>
<body style="background-color: #8e998b; background-image: url(images/body-bg.jpg); background-repeat: repeat;" class="body" marginheight="0" topmargin="0" marginwidth="0" leftmargin="0">

<!--100% body table-->
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td class="case" style="background-color: #8e998b; background-image: url(images/body-bg.jpg); background-repeat: repeat;"><!--[if gte mso 9]>
                <td style="background: none;">
                <![endif]--> 
      <!--header text-->
      
      <table id="top" width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
        <tr>
          <td><table width="600" border="0" align="center" cellpadding="0" cellspacing="0">
              <tr>
                <td height="80" style="background-image: url(images/box-bg.jpg); background-repeat: repeat;" background="images/box-bg.jpg" valign="middle" align="center"><p style="font-size: 13px;  color: #fff; font-family: Arial, Helvetica, sans-serif; margin: 0; padding: 0;"> You're receiving this newsletter because you signed up for it.<br />
                    Having trouble reading this email?
                    <a href="{{ url:webversion }}" style="color:#dee7c6; text-decoration: underline;">View it in your browser.</a>
                    <br />
                    Not interested anymore?
                    <a href="{{ url:unsubscribe }}" style="color:#dee7c6; text-decoration: underline;">Unsubscribe Instantly. </a>
                  </p></td>
              </tr>
            </table></td>
        </tr>
      </table>
      <!--/header text--> 
      
      <!--masthead-->
      
      <table bgcolor="#e5e7e2" width="600" border="0" align="center" cellpadding="0" cellspacing="0">
        <tr>
          <td style="background-image: url(images/masthead.jpg); background-repeat: no-repeat;" background="images/masthead.jpg" valign="top" height="104"><!--date-->
            
            <table width="95" border="0" align="right" cellpadding="0" cellspacing="0">
              <tr>
                <td valign="top" bgcolor="#bac893" background="images/date-bg.jpg" style="background-image:url(images/date-bg.jpg); background-repeat: no-repeat;" height="87" width="62"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td width="62" valign="top" height="12" align="center"></td>
                    </tr>
                    <tr>
                      <td valign="top" width="62" height="22" align="center"><p style="color:#FFF; font-family: Arial, Helvetica, sans-serif; font-size: 12px; margin: 0; padding: 0;">
                          <currentday />
                        </p></td>
                    </tr>
                    <tr>
                      <td width="62" align="center"><p style="color:#FFF; font-size:9px; font-family: Arial, Helvetica, sans-serif; margin: 0; padding: 0;">
                          {{ helper:date format="F" }}
                        </p></td>
                    </tr>
                  </table></td>
                <td height="87" width="32">&nbsp;</td>
              </tr>
            </table>
            <!--/date--> 
            
            <!--title-->
            
            <table width="450" border="0" cellspacing="0" cellpadding="00">
              <tr>
                <td width="30"></td>
                <td height="25"></td>
              </tr>
              <tr>
                <td width="30">&nbsp;</td>
                <td><h1>
                    <singleline label="Title">Douh!2</singleline>
                  </h1></td>
              </tr>
            </table>
            <!--/title--></td>
        </tr>
      </table>
      <!--/masthead--> 
      
      <!--top intro-->
      
      <table bgcolor="#e5e7e2" background="images/content-bg.jpg" width="600" border="0" align="center" cellpadding="0" cellspacing="0">
        <tr>
          <td height="35"><!--break-->
            
            <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
              <tr>
                <td height="30">&nbsp;</td>
              </tr>
            </table>
            <!--/break-->
            
            <repeater>
            <table class="content" width="540" border="0" align="center" cellpadding="0" cellspacing="0">
              <tr>
                <td> 
                  <h2>
                    <singleline label="Title">Enter Title Here</singleline>
                  </h2>
					<img alt="img1" style="padding: 1px; margin: 0 0 10px; border: solid 6px #d7dbd4; background: #FFF;" align="right" width="195" editable="true" label="Image" />                  
                  <multiline label="Description"><p>Enter description here</p></multiline>
                    <br />
                  <p align="right" style="float:right; clear:both; margin: 0; padding: 0;"><a href="#top"><img src="images/up.gif" height="22" width="21" alt="back to top" border="0" /></a></p>

                </td>
              </tr>
              <!--line-->    
              <tr>
              	<td valign="top" align="center" height="25"><img src="images/line_1.gif" width="538" height="11" /></td>
              </tr>
              <!--/line--> 
            </table>
            </repeater>
            
                        <!--break-->
            
            <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
              <tr>
                <td height="20">&nbsp;</td>
              </tr>
            </table>
            <!--/break-->
          </td>
        </tr>
      </table>
      <!--/top intro--> 
 
      
      <!--footer-->
      
      <table class="footer" style="background-image: url(images/box-bg.jpg); background-repeat: repeat;" background="images/box-bg.jpg" width="600" border="0" align="center" cellpadding="20" cellspacing="0">
        <tr>
          <td class="footer" valign="top"><multiline label="Description"><p>Company and the Company logo are registered trademarks of Company Company 123 Some Street, City, ST 99999. Ph +1 4 1477 89 745</p></multiline>
            <p>
              <a href="{{ url:forward }}" style="color: #dee7c6; text-decoration: underline;">Forward this email</a>
              to a friend. Not interested anymore?
              <a href="{{ url:unsubscribe }}" style="color:#dee7c6; text-decoration: underline;">Unsubscribe Instantly.</a>
            </p></td>
        </tr>
      </table>
      <!--footer--> 
      
      <!--break-->
      
      <table width="600" border="0" align="center" cellpadding="0" cellspacing="0">
        <tr>
          <td height="25">&nbsp;</td>
        </tr>
      </table>
      <!--/break--></td>
  </tr>
</table>
<!--/100% body table-->
</body>
</html>