<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
<title>Email Template - duoh! template 2</title>
<style>
h1 {color: #547159 !important; font-size: 48px; text-shadow: 1px 1px 1px #fff; font-family: Georgia, 'Times New Roman', Times, serif; margin: 0; padding: 0;}
h2 {padding: 0; font-size: 30px; font-family: Georgia, 'Times New Roman', Times, serif; color: #9faf78 !important; margin: 0 0 10px;}
h3 {font-size: 16px; font-family: Arial, Helvetica, sans-serif; color: #fff !important; margin: 0 0 10px; padding: 0; }
.content p {font-size: 13px; color: #686f64; font-family: Arial, Helvetica, sans-serif; padding: 0; margin: 0 0 10px 0;}
.content ul, .content ol{margin:0 0 0 30px; padding:0;}
.content ul li, .content ol li{font-size: 13px; color: #686f64; font-family: Arial, Helvetica, sans-serif; padding: 0; margin: 0 0 10px 0;}
.content a {color: #9faf78 !important; text-decoration: underline !important;}
.content a:hover {color: #9faf78 !important; text-decoration: underline !important;}
.issue a {color: #686f64 !important; text-decoration: underline !important;}
.issue a:hover {color: #686f64 !important; text-decoration: underline !important;}
.button a {color: #9faf78 !important; text-decoration: none !important;}
.button a:hover {color: #9faf78 !important; text-decoration: none !important;}
.footer p {color: #fff; font-size: 13px; font-family: Arial, Helvetica, sans-serif; margin: 0; padding: 0; }
</style>
<!--[if gte mso 9]>
<style type="text/css">
.body{background: #353732 url('images/body-bg.jpg');}	     
.case {background:none;}
</style>
<![endif]-->
</head>

<body marginheight="0" class="body" topmargin="0" marginwidth="0" style="padding: 0; font-family: Arial, Helvetica, sans-serif; margin: 0; background: #8e998b url('images/body-bg.jpg') repeat;" leftmargin="0">
<!--100% body table-->
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td class="case" background="images/body-bg.jpg" style="background: #8e998b url(images/body-bg.jpg) repeat;"><!--[if gte mso 9]>
<td style="background: none;">
<![endif]--> 
      <!--header text-->
      
      <table id="top" width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
        <tr>
          <td><table width="600" border="0" align="center" cellpadding="0" cellspacing="0">
              <tr>
                <td height="80" style="background-image: url(images/box-bg.jpg); background-repeat: repeat;" background="images/box-bg.jpg" valign="middle" align="center"><p style="font-size: 13px;  color: #fff; font-family: Arial, Helvetica, sans-serif; margin: 0; padding: 0;">You're receiving this newsletter because you signed up for it.<br />
                    Having trouble reading this email?
                    <a href="{{ url:webversion }}" style="color:#dee7c6; text-decoration: underline;">View it in your browser.</a>
                    <br />
                    Not interested anymore?
                    <a href="{{ url:unsubscribe }}" style="color:#dee7c6; text-decoration: underline;">Unsubscribe Instantly.</a>
                  </p></td>
              </tr>
            </table></td>
        </tr>
      </table>
      
      <!--/header text--> 
      <!--masthead-->
      
      <table bgcolor="#e5e7e2" width="600" border="0" align="center" cellpadding="0" cellspacing="0">
        <tr>
          <td style="background-image: url(images/masthead.jpg); background-repeat: no-repeat;" background="images/masthead.jpg" valign="top" height="104"><!--date-->
            
            <table width="95" border="0" align="right" cellpadding="0" cellspacing="0">
              <tr>
                <td background="images/date-bg.jpg" height="87" valign="top" width="62" style="background-image: url(images/date-bg.jpg); background-repeat: no-repeat;" bgcolor="#bac893"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td width="62" valign="top" height="11" align="center"></td>
                    </tr>
                    <tr>
                      <td width="62" height="20" align="center"><p style="padding: 0; font-size: 13px; font-family: Arial, Helvetica, sans-serif; color: #FFF; margin: 0 0 10px;">
                          <currentday />
                        </p></td>
                    </tr>
                    <tr>
                      <td width="62" align="center"><p style="padding: 0; font-size: 9px; font-family: Arial, Helvetica, sans-serif; color: #FFF; margin: 0 0 10px;">
                          {{ helper:date format="F" }}
                        </p></td>
                    </tr>
                  </table></td>
                <td height="87" width="32">&nbsp;</td>
              </tr>
            </table>
            
            <!--/date--> 
            <!--title-->
            
            <table width="450" border="0" cellspacing="0" cellpadding="00">
              <tr>
                <td width="30"></td>
                <td height="25"></td>
              </tr>
              <tr>
                <td width="30">&nbsp;</td>
                <td><h1>
                    <singleline label="Title">Douh!2</singleline>
                  </h1></td>
              </tr>
            </table>
            
            <!--/title--></td>
        </tr>
      </table>
      
      <!--/masthead--> 
      <!--content section-->
      
      <table class="content" style="background: url(images/content-bg.jpg) repeat #e5e7e2" bgcolor="#e5e7e2" background="images/content-bg.jpg" width="600" border="0" align="center" cellpadding="20" cellspacing="0">
        <tr>
          <td width="152" valign="top">
          	<repeater>
            <h2>
              <singleline label="Title" repeatertitle="true">Enter title here</singleline>
            </h2>
            <multiline label="Description"><p>Enter description here.</p></multiline>
            <img height="165" alt="img1" style="padding: 1px; font-family: Arial, Helvetica, sans-serif; margin: 0 0 10px; border: solid 6px #d7dbd4; background: #FFF;" width="354" editable="true" label="Image" /> 
            <!--line-->
            
            <table bgcolor="#e5e7e2" background="images/content-bg.jpg" width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
              <tr>
                <td valign="middle" align="center" height="25"><img src="images/line_2.gif" height="11" style="margin: 0; padding: 0; font-family: Arial, Helvetica, sans-serif;" width="368" /></td>
              </tr>
            </table>
            <!--/line-->
            </repeater>
            
            </td>
          <td style="background: url(images/content-bg-2.jpg) repeat #d9dcd7" background="images/content-bg-2.jpg" bgcolor="#d9dcd7" width="368" valign="top"><table width="152" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td class="issue" valign="top" style="border-bottom: solid 1px #FFF;"><h3>In this issue</h3>
                 
                 <tableofcontents>
                 	<p><repeatertitle /></p>
                 </tableofcontents>
                  
                  <!--break-->
                  
                  <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
                    <tr>
                      <td height="20">&nbsp;</td>
                    </tr>
                  </table>
                  
                  <!--/break--></td>
              </tr>
              <tr>
                <td valign="top" style="border-bottom: solid 1px #FFF;"><!--break-->
                  
                  <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
                    <tr>
                      <td height="20">&nbsp;</td>
                    </tr>
                  </table>
                  
                  <!--/break-->
                  
                  <h3>Forward this issue</h3>
                  <p style="padding: 0; font-size: 13px; font-family: Arial, Helvetica, sans-serif; color: #686f64; margin: 0 0 10px;">Do you know someone who might be interested in receiving this monthly newsletter?</p>
                  
                  <!--button-->
                  
                  <table width="100" border="0" cellspacing="0" cellpadding="5">
                    <tr>
                      <td class="button" height="25" style="border-radius: 12px; padding: 0; -webkit-border-radius: 12px; font-size: 13px; font-family: Arial, Helvetica, sans-serif; color: #ffffff; -khtml-border-radius: 12px; margin: 0; text-align: center; -moz-border-radius: 12px;" bgcolor="#f2f3f1"><a href="{{ url:forward }}" style="padding: 0; font-weight: bold; font-family: Arial, Helvetica, sans-serif; color: #9faf78; text-decoration: none; margin: 0;">Forward</a></td>
                    </tr>
                  </table>
                  
                  <!--/button--> 
                  <!--break-->
                  
                  <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
                    <tr>
                      <td height="20">&nbsp;</td>
                    </tr>
                  </table>
                  
                  <!--/break--></td>
              </tr>
              <tr>
                <td valign="top" style="border-bottom: solid 1px #FFF;"><!--break-->
                  
                  <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
                    <tr>
                      <td height="20">&nbsp;</td>
                    </tr>
                  </table>
                  
                  <!--/break-->
                  
                  <h3>Unsubscribe</h3>
                  <p style="padding: 0; font-size: 13px; font-family: Arial, Helvetica, sans-serif; color: #686f64; margin: 0 0 10px;">You're receiving this newsletter because you signed up for it.</p>
                  
                  <!--button-->
                  
                  <table width="100" border="0" cellspacing="0" cellpadding="5">
                    <tr>
                      <td class="button" height="25" style="border-radius: 12px; padding: 0; -webkit-border-radius: 12px; font-size: 13px; font-family: Arial, Helvetica, sans-serif; color: #ffffff; -khtml-border-radius: 12px; margin: 0; text-align: center; -moz-border-radius: 12px;" bgcolor="#f2f3f1"><a href="{{ url:unsubscribe }}" style="padding: 0; font-weight: bold; font-family: Arial, Helvetica, sans-serif; color: #9faf78; text-decoration: none; margin: 0;">Unsubscribe</a></td>
                    </tr>
                  </table>
                  
                  <!--/button--> 
                  <!--break-->
                  
                  <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
                    <tr>
                      <td height="20">&nbsp;</td>
                    </tr>
                  </table>
                  
                  <!--/break--></td>
              </tr>
              <tr>
                <td valign="top" style="border-bottom: solid 1px #FFF;"><!--break-->
                  
                  <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
                    <tr>
                      <td height="20">&nbsp;</td>
                    </tr>
                  </table>
                  
                  <!--/break-->
                  
                  <h3>Contact us</h3>
                  <multiline label="Description"><p style="padding: 0; font-size: 13px; font-family: Arial, Helvetica, sans-serif; color: #686f64; margin: 0 0 10px;">123 Some Street<br style="margin: 0; padding: 0; font-family: Arial, Helvetica, sans-serif;" />
City, State<br style="margin: 0; padding: 0;" />
99999<br style="margin: 0; padding: 0;" />
(147) 789 7745</p></multiline>
                  
                  <!--button-->
                  
                  <table width="100" border="0" cellspacing="0" cellpadding="5">
                    <tr>
                      <td class="button" height="25" style="border-radius: 12px; padding: 0; -webkit-border-radius: 12px; font-size: 13px; font-family: Arial, Helvetica, sans-serif; color: #ffffff; -khtml-border-radius: 12px; margin: 0; text-align: center; -moz-border-radius: 12px;" bgcolor="#f2f3f1"><a href="mailto:your-email-here" style="padding: 0; font-weight: bold; font-family: Arial, Helvetica, sans-serif; color: #9faf78; text-decoration: none; margin: 0;">Email</a></td>
                    </tr>
                  </table>
                  
                  <!--/button--> 
                  <!--break-->
                  
                  <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
                    <tr>
                      <td height="25">&nbsp;</td>
                    </tr>
                  </table>
                  
                  <!--/break--></td>
              </tr>
            </table></td>
        </tr>
      </table>
      
      <!--/content section--> 
      <!--footer-->
      
      <table class="footer" style="background-image: url(images/box-bg.jpg); background-repeat: repeat;" background="images/box-bg.jpg" width="600" border="0" align="center" cellpadding="20" cellspacing="0">
        <tr>
          <td class="footer" valign="top"><multiline label="Description"><p>Company and the Company logo are registered trademarks of Company Company 123 Some Street, City, ST 99999. Ph +1 4 1477 89 745</p></multiline>
            <p>
              <a href="{{ url:forward }}" style="color: #dee7c6; text-decoration: underline;">Forward this email</a>
              to a friend. Not interested anymore?
              <a href="{{ url:unsubscribe }}" style="color:#dee7c6; text-decoration: underline;">Unsubscribe Instantly.</a>
            </p></td>
        </tr>
      </table>
      <!--footer--> 
      <!--break-->
      
      <table width="600" border="0" align="center" cellpadding="0" cellspacing="0">
        <tr>
          <td height="25">&nbsp;</td>
        </tr>
      </table>
      
      <!--/break--></td>
  </tr>
</table>
<!--/100% body table-->
</body>
</html>