<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Email Template - Metalab Steph</title>
<style type="text/css">
h1 { font-family: Helvetica, Arial, sans-serif; font-size: 24px; margin: 0px; padding: 0px; text-shadow: 1px 1px 1px #FFFFFF; color: #244a67 !important; }
h2 { font-family: Helvetica, Arial, sans-serif; font-size: 18px; margin-top: 0px; margin-bottom: 12px; padding: 0px; text-shadow: 1px 1px 1px #333333; color: #62b6ee !important; }
h3 { font-family: Helvetica, Arial, sans-serif; font-weight: bold; font-size: 13px; margin-top: 0px; margin-bottom: 12px; padding: 0px; text-shadow: 1px 1px 1px #333333; color: #62b6ee !important; }
p { font-family: Helvetica, Arial, sans-serif; font-size: 13px; margin-top: 0px; margin-bottom: 12px; padding: 0px; color: #e7eff6 }
a { color:#6aacdf; text-decoration: underline; }
.top p, .footer p { font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #4484b5; margin: 0; padding: 0; }
.toc a { color: #FFF; text-decoration: none; }
.side p { margin-top: 0px; margin-bottom: 0px; }
li { font-family: Helvetica, Arial, sans-serif; font-size: 13px; padding-left: 20px; padding-bottom: 6px; background: url(images/li.png) no-repeat top left; list-style: none; }
li a { color: #FFF; text-decoration: none; }
</style>
<!--[if gte mso 9]>
<style type="text/css">
.body {background: #234865 url('images/body-bg.jpg');}	     
.case {background: none;}
</style>
<![endif]-->
</head>
<body class="body" style="margin: 0; padding: 0; background-color: #234865; background-image: url(images/body-bg.jpg); background-repeat: repeat;" marginheight="0" topmargin="0" marginwidth="0" leftmargin="0">
<!--100% body table-->
<table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
        <td class="case" bgcolor="#234865" style="background-color: #234865; background-image: url(images/body-bg.jpg); background-repeat: repeat;">
            <!--[if gte mso 9]>
<td style="background: none;">
<![endif]-->
            <!--header text-->
            <table style="background-image: url(images/header-lines.jpg); background-position: bottom; background-repeat: repeat-x;" bgcolor="#1d3952" width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
                <tr>
                    <td>
                        <table class="top" width="578" border="0" align="center" cellpadding="0" cellspacing="0">
                            <tr>
                                <td valign="top" align="center" height="60">
                                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                        <tr>
                                            <td height="10"></td>
                                        </tr>
                                    </table>
                                    <multiline label="Description"><p>You are receiving this newsletter because you signed up for it</p></multiline>
                                    <p>Having trouble reading this email?
                                        <a href="{{ url:webversion }}" style="color:#6aacdf; text-decoration: underline;">View it in your browser.</a>
                                        |
                                        <a href="{{ url:unsubscribe }}" style="color:#6aacdf; text-decoration: underline;">Click here to unsubscribe.</a>
                                    </p>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
            <!--/header text-->
            <!--intro-->
            <table width="578" border="0" align="center" cellpadding="0" cellspacing="0">
                <tr>
                    <td valign="top" height="20"></td>
                </tr>
                <tr>
                    <td background="images/header-bg.jpg" bgcolor="#c6d2db" valign="top" height="79">
                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <td height="22" width="65%"></td>
                                <td height="20" width="35%"></td>
                            </tr>
                            <tr>
                                <td valign="top">
                                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                        <tr>
                                            <td align="center" valign="bottom" width="7%">
                                                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                    <tr>
                                                        <td width="15"></td>
                                                        <td width="10"></td>
                                                    </tr>
                                                </table>
                                            </td>
                                            <td valign="middle" width="93%">
                                                <h1>
                                                    <singleline label="Title">abc Widgets Corp</singleline>
                                                </h1>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td valign="top">
                                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                        <tr>
                                            <td height="10"></td>
                                        </tr>
                                    </table>
                                    
                                    
                                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
        <td>
        <p style=" font-family:Helvetica, Arial, sans-serif; font-weight: bold; font-size: 12px; margin: 0px; padding: 0px; text-shadow: 1px 1px 1px #FFFFFF; color: #336791">
                                        <currentdayname />
                                        ,
                                        {{ helper:date format="F" }}
                                        <currentday />
                                        ,
                                        {{ helper:date format="Y" }}
                                    </p>
        </td>
        <td width="25">
        </td>
    </tr>
</table>
                                    
                                    
                                    
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td valign="top" height="20"></td>
                </tr>
            </table>
            <!--/intro-->
            <!--content section-->
            <table width="576" border="0" align="center" cellpadding="0" cellspacing="0">
                <tr>
                    <td width="350" valign="top">
                        <table width="100%" border="0" cellpadding="20" cellspacing="0">
                            <tr>
                                <td valign="top" bgcolor="#1c3851" background="images/content-bg.jpg" style="border: solid 1px #193044; border-radius: 8px; -moz-border-radius: 8px; -webkit-border-radius: 8px; -khtml-border-radius: 8px;">
                                    <repeater>
                                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                            <tr>
                                                <td>
                                                    <h2>
                                                        <singleline label="Title" repeatertitle="true">Enter title here</singleline>
                                                    </h2>
                                                    <multiline label="Description"><p>Enter description here</p></multiline>
                                                    <img style="-moz-box-shadow: 2px 2px 4px #000; -webkit-box-shadow: 2px 2px 4px #000; box-shadow: 2px 2px 4px #000; margin: 0; padding: 0; display: block;" width="309" alt="img2" editable="true" label="Image" />
                                                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                        <tr>
                                                            <td valign="middle" height="40"> <img src="images/line2.jpg" height="12" width="309" /></td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                        </table>
                                    </repeater>
                                </td>
                            </tr>
                        </table>
                        <!--break-->
                    </td>
                    <td valign="top">
                        <!--section-->
                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <td>
                                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                        <tr>
                                            <td width="21">&nbsp;</td>
                                            <td>
                                                <table width="100%" border="0" cellpadding="0" cellspacing="0">
                                                    <tr>
                                                        <td height="17" width="204" valign="top" bgcolor="#1c3851" background="images/content-bg.jpg" style="border: solid 1px #193044; 
					-webkit-border-top-left-radius: 8px;
	                -khtml-border-radius-topleft: 8px;	
	                -moz-border-radius-topleft: 8px;
	                border-top-left-radius: 8px;
					-webkit-border-top-right-radius: 8px;
	                -khtml-border-radius-topright: 8px;	
	                -moz-border-radius-topright: 8px;
	                border-top-right-radius: 8px;
				    border-bottom: none;"> </td>
                                                    </tr>
                                                </table>
                                            </td>
                                            <td width="19">&nbsp;</td>
                                        </tr>
                                    </table>
                                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                        <tr>
                                            <td height="38" align="center">
                                                <table width="202" border="0" cellspacing="0" cellpadding="0">
                                                    <tr>
                                                        <td valign="top" style="background-image: url(images/ribbon.jpg); background-repeat: no-repeat; background-position: center;" bgcolor="#2b7ab7" height="38">
                                                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                                <tr>
                                                                    <td width="10"></td>
                                                                    <td height="6"></td>
                                                                    <td height="6"></td>
                                                                </tr>
                                                                <tr>
                                                                    <td>&nbsp;</td>
                                                                    <td>
                                                                        <p style="font-family: Helvetica, Arial, sans-serif; font-size: 13px; margin-top: 0px; margin-bottom: 0px; padding: 0px; color: #1f2d41; font-size: 16px; font-weight: bold; text-shadow: 0px 1px 1px #ffffff">In this issue</p>
                                                                    </td>
                                                                    <td><img style="margin: 0; padding: 0; display: block;" src="images/i.png" width="18" height="20" alt="info" /></td>
                                                                </tr>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                        <tr>
                                            <td width="20">&nbsp;</td>
                                            <td>
                                                <table width="100%" border="0" cellpadding="20" cellspacing="0">
                                                    <tr>
                                                        <td width="204" valign="top" bgcolor="#1c3851" background="images/content-bg.jpg" style="border: solid 1px #193044; 
					-webkit-border-bottom-left-radius: 8px;
	                -khtml-border-radius-bottomleft: 8px;	
	                -moz-border-radius-bottomleft: 8px;
	                border-bottom-left-radius: 8px;
					-webkit-border-bottom-right-radius: 8px;
	                -khtml-border-radius-bottomright: 8px;	
	                -moz-border-radius-bottomright: 8px;
	                border-bottom-right-radius: 8px;
				    border-top: none;">
                                                            <ul style="padding: 0; margin: 0; list-style: none;">
                                                            <tableofcontents>
                                                                <li><repeatertitle /></li>
                                                            </tableofcontents>
                                                            </ul>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                            <td width="19">&nbsp;</td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                        <!--/section-->
                        <!--break-->
                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <td height="20"></td>
                            </tr>
                        </table>
                        <!--/break-->
                        <!--section-->
                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <td>
                                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                        <tr>
                                            <td width="21">&nbsp;</td>
                                            <td>
                                                <table width="100%" border="0" cellpadding="0" cellspacing="0">
                                                    <tr>
                                                        <td height="17" width="204" valign="top" bgcolor="#1c3851" background="images/content-bg.jpg" style="border: solid 1px #193044; 
					-webkit-border-top-left-radius: 8px;
	                -khtml-border-radius-topleft: 8px;	
	                -moz-border-radius-topleft: 8px;
	                border-top-left-radius: 8px;
					-webkit-border-top-right-radius: 8px;
	                -khtml-border-radius-topright: 8px;	
	                -moz-border-radius-topright: 8px;
	                border-top-right-radius: 8px;
				    border-bottom: none;"> </td>
                                                    </tr>
                                                </table>
                                            </td>
                                            <td width="19">&nbsp;</td>
                                        </tr>
                                    </table>
                                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                        <tr>
                                            <td height="38" align="center">
                                                <table width="202" border="0" cellspacing="0" cellpadding="0">
                                                    <tr>
                                                        <td valign="top" style="background-image: url(images/ribbon.jpg); background-repeat: no-repeat; background-position: center;" bgcolor="#2b7ab7" height="38">
                                                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                                <tr>
                                                                    <td width="10"></td>
                                                                    <td height="6"></td>
                                                                    <td height="6"></td>
                                                                </tr>
                                                                <tr>
                                                                    <td>&nbsp;</td>
                                                                    <td>
                                                                        <p style="font-family: Helvetica, Arial, sans-serif; font-size: 13px; margin-top: 0px; margin-bottom: 0px; padding: 0px; color: #1f2d41; font-size: 16px; font-weight: bold; text-shadow: 0px 1px 1px #ffffff">In other news</p>
                                                                    </td>
                                                                    <td><img style="margin: 0; padding: 0; display: block;" src="images/world.png" height="19" width="19" alt="other news" /></td>
                                                                </tr>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                        <tr>
                                            <td width="20">&nbsp;</td>
                                            <td>
                                                <table width="100%" border="0" cellpadding="20" cellspacing="0">
                                                    <tr>
                                                        <td width="204" valign="top" bgcolor="#1c3851" background="images/content-bg.jpg" style="border: solid 1px #193044; 
					-webkit-border-bottom-left-radius: 8px;
	                -khtml-border-radius-bottomleft: 8px;	
	                -moz-border-radius-bottomleft: 8px;
	                border-bottom-left-radius: 8px;
					-webkit-border-bottom-right-radius: 8px;
	                -khtml-border-radius-bottomright: 8px;	
	                -moz-border-radius-bottomright: 8px;
	                border-bottom-right-radius: 8px;
				    border-top: none;">
                                                            <repeater>
                                                                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                                    <tr>
                                                                        <td class="side">
                                                                            <h3>
                                                                                <singleline label="Title">Enter title here</singleline>
                                                                            </h3>
                                                                            <multiline label="Description"><p>Enter description here</p></multiline>
                                                                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                                                <tr>
                                                                                    <td valign="middle" height="30"> <img src="images/line3.jpg" width="144" height="10" /></td>
                                                                                </tr>
                                                                            </table>
                                                                        </td>
                                                                    </tr>
                                                                </table>
                                                            </repeater>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                            <td width="19">&nbsp;</td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                        <!--/section-->
                        <!--break-->
                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <td height="20"></td>
                            </tr>
                        </table>
                        <!--/break-->
                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <td width="20">&nbsp;</td>
                                <td>
                                    <table width="100%" border="0" cellpadding="20" cellspacing="0">
                                        <tr>
                                            <td width="204" valign="top">
                                                <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
                                                    <tr>
                                                        <td width="77%">
                                                            <a href="{{ url:forward }}" style="font-family: Helvetica, Arial, sans-serif; font-weight: bold; font-size: 13px; margin: 0px; padding: 0px; text-shadow: 1px 1px 1px #000; color: #62b6ee">Forward to friend</a>
                                                        </td>
                                                        <td align="right" width="23%"><img src="images/foward.png" width="29" height="24" alt="foward" /></td>
                                                    </tr>
                                                </table>
                                                <!--break-->
                                                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                    <tr>
                                                        <td height="10"></td>
                                                    </tr>
                                                </table>
                                                <!--/break-->
                                                <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
                                                    <tr>
                                                        <td width="77%">
                                                            <a href="{{ url:unsubscribe }}" style="font-family: Helvetica, Arial, sans-serif; font-weight: bold; font-size: 13px; margin: 0px; padding: 0px; text-shadow: 1px 1px 1px #000; color: #62b6ee">Unsubscribe</a>
                                                        </td>
                                                        <td align="right" width="23%"><img src="images/unsubscribe.png" width="29" height="26" alt="unsubscribe" /></td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td width="19">&nbsp;</td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
            <!--break-->
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td height="25"></td>
                </tr>
            </table>
            <!--/break-->
            <!--footer-->
            <table style="background-image: url(images/footer-lines.jpg); background-position: top; background-repeat: repeat-x;" bgcolor="#1c293b" width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
                <tr>
                    <td>
                        <table class="footer" width="578" border="0" align="center" cellpadding="0" cellspacing="0">
                            <tr>
                                <td valign="top" align="center" height="60">
                                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                        <tr>
                                            <td height="15"></td>
                                        </tr>
                                    </table>
                                    <multiline label="Description"><p>ABCWidgets Corp — 123 Some Street, City, ST 99999. Ph +1 4 1477 89 745</p></multiline>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
            <!--/footer-->
        </td>
    </tr>
</table>
<!--/100% body table-->
</body>
</html>