<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
    <head>
        <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
        <title>Email Template - Head In The Clouds</title>
        <!--general stylesheet-->
        <style type="text/css">
			p { padding: 0; margin: 0; }
			h1, h2, h3, p, li { font-family: Georgia, Helvetica, sans-serif, Arial; }
			td { vertical-align:top;}
			ul, ol { margin: 0; padding: 0;}
			.content-item h2 {  margin: 0; padding-left:20px; padding-top:3px; padding-bottom:3px; font-size: 24px; color: #626b73 !important; font-weight: normal; font-family:Georgia;}
			.content-item p { color: #798692; font-size:14px; line-height:20px;}
			.content-item a { color:#353d43; text-decoration: underline;}
			.sidebar h4{ margin: 0; padding-bottom:5px; color:#FFFFFF !important; text-transform: uppercase; font-size:10px; letter-spacing:2px;}
			.sidebar  p { margin:0; padding-top:5px; color: #6e7c88; font-size:12px; line-height:18px;}
			.toc a { color:#3d464c; font-style: italic; font-weight:lighter; font-family: Georgia; }
			.footer p {font-family: Georgia; margin:0; padding-bottom: 3px; padding-top: 3px; color:#6e7c88; font-size: 12px;}
			.footer a { font-family: Georgia; color:#475056; font-size:12px; font-weight:lighter; font-style: italic; text-decoration:none;}
		</style>
		<!--[if gte mso 9]>
		<style type="text/css">
		.transparent{ background-color: #dfe4e9; background-image: url('images/article-bg.jpg'); }
		</style>
		<![endif]-->
    </head>
    <body class="body" marginheight="0" topmargin="0" marginwidth="0" leftmargin="0" bgcolor="#cad3db" style="margin: 0px; background-color: #cad3db; background-image: url('images/body-bg.jpg'); background-repeat: repeat; background-position: center top;">
        <table cellspacing="0" border="0" cellpadding="0" width="100%" align="center" style="margin: 0px;">
            <tbody>
                <tr valign="top">
                    <td class="ifcase" valign="top" background="images/body-bg.jpg" style="background-image: url('images/body-bg.jpg'); background-repeat: repeat; background-position: center top;">
                        <!--container-->
						<table cellspacing="0" cellpadding="0" border="0" width="700" align="center" background="images/bottom-cloud-transparent.png" style="background-image: url('images/bottom-cloud-transparent.png'); background-repeat: no-repeat; background-position: right bottom; ">
							<tbody>
								<tr>
									<td valign="top" style="padding-bottom:30px; font-family: Georgia, Helvetica, sans-serif, Arial; ">
										<table cellspacing="0" cellpadding="0" border="0" align="center" width="600">
							                <tbody>
							                    <tr>
							                        <td valign="top">
							                            <table cellspacing="0" cellpadding="0" border="0" align="center" background="images/clouds-bg.jpg" style="background-image: url('images/clouds-bg.jpg'); background-repeat: no-repeat; background-position: center top; ">
							                                <tbody>
							                                    <tr>
							                                        <td colspan="2" valign="top" style="padding-top: 15px; padding-bottom: 8px;">
				                                                        <p style="margin:0; color:#6e7c88; font-size: 12px; line-height: 1.4">
				                                                            <singleline label="Title">You are receiving this newsletter because you bought widgets from us.</singleline><br />
				                                                        
				                                                            Not interested anymore? <a href="{{ url:unsubscribe }}" style="color:#475056; font-size:12px; font-weight:lighter; font-style: italic; text-decoration:none;">Unsubscribe</a>. Having trouble viewing this email? 
																			<a href="{{ url:webversion }}" style="color:#475056; font-size:12px; font-weight:lighter; font-style: italic; text-decoration:none;">View it in your browser</a>.
				                                                        </p>
				                                                    </td>
							                                    </tr>
							                                    <tr>
							                                        <td valign="baseline" style="vertical-align:baseline; text-align: left;">
																		<h1 style="margin:0; padding:0; font-family: Gill Sans, Trebuchet MS, Helvetica, Arial, sans-serif; font-size: 34px; color:#ffffff !important; font-weight: normal; letter-spacing:2px;">
																			<singleline label="Title">Enter Newsletter Title Here</singleline>
																		</h1>
							                                        </td>
							                                        <td valign="baseline" width="205" style="vertical-align:baseline; text-align: right; padding-top:10px;">
							                                            <span class="date" style="font-size:12px; color:#6e7c88;">{{ helper:date format="F" }} <currentday />, {{ helper:date format="Y" }}</span>
							                                        </td>
							                                    </tr>
							                                    <tr>
							                                        <td colspan="2" valign="top" style="padding-top: 10px; padding-bottom: 15px;">
							                                            <img width="600" height="7" src="images/divider.png" alt="" style="display: block;" />
							                                        </td>
							                                    </tr>
							                                </tbody>
							                            </table>
							                        </td>
							                    </tr>
							                    <tr>
							                        <td valign="top" colspan="2">
														<repeater>
															
															<layout label="Left aligned image">
									                            <table cellspacing="0" border="0" cellpadding="0" align="center" width="600" style="margin: 0px; padding-bottom:20px;" class="content-item">
									                                <tbody>
									                                    <tr>
									                                        <td valign="top">
									                                            
																				<table cellspacing="0" border="0" cellpadding="0" align="center" width="600" style="border:10px; border-style:solid; border-color:#f3f5f7; background-color: #dfe4e9;">
									                                                <tbody>
									                                                    <tr>
									                                                        <td valign="top" background="images/article-bg.jpg" style="padding-top:20px; padding-bottom:20px;">
									                                                            <table cellspacing="0" border="0" cellpadding="0" align="center" width="580" style="">
									                                                            	<tbody>
									                                                            		<tr>
									                                                            			<td valign="top" height="24" style="background-color: #cbd3db; background-image: url('images/article-title-bg.jpg'); background-repeat: repeat; background-position: center center;">
									                                                            				<h2>
																													<singleline label="Title">Enter the article title</singleline>
																												</h2>
									                                                            			</td>
									                                                            		</tr>
									                                                            	</tbody>
									                                                            </table>
									                                                            <table cellspacing="0" border="0" cellpadding="0" align="center" width="540" style="padding-top:20px;">
																									<tbody>
																										<tr>
																											<td valign="top">
																												<table cellspacing="0" border="0" cellpadding="0" align="center" width="540">
																													<tbody>
																														<tr>
																															<td valign="top">
																																<img width="321" height="170" alt="." style="margin: 0 15px 10px 0; border: 10px; border-color: #c2cad2; border-style: solid;" align="left" editable="true" label="Image" />
																																
																																<multiline label="Description"><p>Enter article here</p></multiline>
																															</td>
																														</tr>
																														<tr>
																															<td height="5" style="height:5px; line-height:0.5;">&nbsp;</td>
																														</tr>
																														
																													</tbody>
																												</table>
																											</td>
																										</tr>
																									</tbody>
																								</table>
									                                                        </td>
									                                                    </tr>
									                                                </tbody>
									                                            </table>
									                                        </td>
									                                    </tr>
									                                    <tr>
									                                        <td valign="top" style="padding-top: 20px; padding-bottom: 0px;">
									                                            <img width="600" height="8" src="images/divider.png" alt="" style="display: block;" />
									                                        </td>
									                                    </tr>
									                                    
									                                </tbody>
									                            </table>
									                        </layout>

									                        <layout label="Right aligned image">
									                            <table cellspacing="0" border="0" cellpadding="0" align="center" width="600" style="margin: 0px; padding-bottom:20px;" class="content-item">
									                                <tbody>
									                                    <tr>
									                                        <td valign="top">
									                                            
																				<table cellspacing="0" border="0" cellpadding="0" align="center" width="600" style="border:10px; border-style:solid; border-color:#f3f5f7; background-color: #dfe4e9;">
									                                                <tbody>
									                                                    <tr>
									                                                        <td valign="top" background="images/article-bg.jpg" style="padding-top:20px; padding-bottom:20px;">
									                                                            <table cellspacing="0" border="0" cellpadding="0" align="center" width="580" style="">
									                                                            	<tbody>
									                                                            		<tr>
									                                                            			<td valign="top" height="24" style="background-color: #cbd3db; background-image: url('images/article-title-bg.jpg'); background-repeat: repeat; background-position: center center;">
									                                                            				<h2>
																													<singleline label="Title">Enter the article title</singleline>
																												</h2>
									                                                            			</td>
									                                                            		</tr>
									                                                            	</tbody>
									                                                            </table>
									                                                            <table cellspacing="0" border="0" cellpadding="0" align="center" width="540" style="padding-top:20px;">
																									<tbody>
																										<tr>
																											<td valign="top">
																												<table cellspacing="0" border="0" cellpadding="0" align="center" width="540">
																													<tbody>
																														<tr>
																															<td valign="top">
																																<img width="321" height="170" alt="." style="margin: 0 15px 10px 0; border: 10px; border-color: #c2cad2; border-style: solid;" align="right" editable="true" label="Image" />
																																
																																<multiline label="Description"><p>Enter article here</p></multiline>
																															</td>
																														</tr>
																														<tr>
																															<td height="5" style="height:5px; line-height:0.5;">&nbsp;</td>
																														</tr>
																														
																													</tbody>
																												</table>
																											</td>
																										</tr>
																									</tbody>
																								</table>
									                                                        </td>
									                                                    </tr>
									                                                </tbody>
									                                            </table>
									                                        </td>
									                                    </tr>
									                                    <tr>
									                                        <td valign="top" style="padding-top: 20px; padding-bottom: 0px;">
									                                            <img width="600" height="8" src="images/divider.png" alt="" style="display: block;" />
									                                        </td>
									                                    </tr>
									                                    
									                                </tbody>
									                            </table>
									                        </layout>

									                        <layout label="1 column">
									                            <table cellspacing="0" border="0" cellpadding="0" align="center" width="600" style="margin: 0px; padding-bottom:20px;" class="content-item">
									                                <tbody>
									                                    <tr>
									                                        <td valign="top">
									                                            
																				<table cellspacing="0" border="0" cellpadding="0" align="center" width="600" style="border:10px; border-style:solid; border-color:#f3f5f7; background-color: #dfe4e9;">
									                                                <tbody>
									                                                    <tr>
									                                                        <td valign="top" background="images/article-bg.jpg" style="padding-top:20px; padding-bottom:20px;">
									                                                            <table cellspacing="0" border="0" cellpadding="0" align="center" width="580" style="">
									                                                            	<tbody>
									                                                            		<tr>
									                                                            			<td valign="top" height="24" style="background-color: #cbd3db; background-image: url('images/article-title-bg.jpg'); background-repeat: repeat; background-position: center center;">
									                                                            				<h2>
																													<singleline label="Title">Enter the article title</singleline>
																												</h2>
									                                                            			</td>
									                                                            		</tr>
									                                                            	</tbody>
									                                                            </table>
									                                                            <table cellspacing="0" border="0" cellpadding="0" align="center" width="540" style="padding-top:20px;">
																									<tbody>
																										<tr>
																											<td valign="top">
																												<table cellspacing="0" border="0" cellpadding="0" align="center" width="540">
																													<tbody>
																														<tr>
																															<td valign="top">
																																<img width="520" height="170" alt="." style="margin: 0 0 10px 0; border: 10px; border-color: #c2cad2; border-style: solid;" editable="true" label="Image" />
																																
																																<multiline label="Description"><p>Enter article here</p></multiline>
																															</td>
																														</tr>
																														<tr>
																															<td height="5" style="height:5px; line-height:0.5;">&nbsp;</td>
																														</tr>
																														
																													</tbody>
																												</table>
																											</td>
																										</tr>
																									</tbody>
																								</table>
									                                                        </td>
									                                                    </tr>
									                                                </tbody>
									                                            </table>
									                                        </td>
									                                    </tr>
									                                    <tr>
									                                        <td valign="top" style="padding-top: 20px; padding-bottom: 0px;">
									                                            <img width="600" height="8" src="images/divider.png" alt="" style="display: block;" />
									                                        </td>
									                                    </tr>
									                                    
									                                </tbody>
									                            </table>
									                        </layout>

														</repeater>
							                        </td>
							                    </tr>
												<tr>
													<td colspan="2" valign="top" style=" padding: 10px 0 20px;" class="footer">
														<multiline label="Description"><p>ABCWidgets Corp - 123 Some Street, City, ST 99999. Ph +1 4 1477 89 745</p> </multiline>
													</td>	
												</tr>
							                    <tr>
							                        <td colspan="2" valign="top" style=" padding-bottom: 20px;">
							                            <img width="600" height="7" src="images/divider.png" alt="" style="display:block;" />
							                        </td>
							                    </tr>
												
							                </tbody>
							            </table>
									</td>
								</tr>
							</tbody>
						</table>
                        <!--/container-->
                    </td>
                </tr>
            </tbody>
        </table>
    </body>
</html>