<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en">
  <head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    <title>
      Boutique
    </title>
	<style type="text/css">
	a:hover { text-decoration: none !important; }
	.header h1 {color: #ede6cb !important; font: normal 24px Georgia, serif; margin: 0; padding: 0; line-height: 28px;}
	.header p {color: #645847; font: bold 11px Georgia, serif; margin: 0; padding: 0; line-height: 12px; text-transform: uppercase;}
	.content h2 {color:#393023 !important; font-weight: bold; margin: 0; padding: 0; line-height: 30px; font-size: 17px;font-family: Helvetica, Arial, sans-serif; }
	.content p {color:#767676; font-weight: normal; margin: 0; padding: 0; line-height: 20px; font-size: 12px; font-family: Helvetica, Arial, sans-serif;}
	.content a {color: #0fa2e6; text-decoration: none;}
	.footer p {font-size: 11px; color:#bfbfbf; margin: 0; padding: 0;font-family: Helvetica, Arial, sans-serif;}
	.footer a {color: #0fa2e6; text-decoration: none;}
	</style>
  </head>
  <body style="margin: 0; padding: 0; background: #f3dc74 url('images/bg_email.jpg') no-repeat center top;" bgcolor="#f3dc74">
  	<table cellpadding="0" cellspacing="0" border="0" align="center" width="100%" style="background: url('images/bg_email.jpg') no-repeat center top; padding: 15px 0 35px">
		  <tr>
		  	<td align="center">
			    <table cellpadding="0" cellspacing="0" border="0" align="center" width="599" style="font-family: Georgia, serif; background: url('images/bg_header.jpg') no-repeat center top" height="142" class="header">
			      <tr>
			        <td style="margin: 0; padding: 40px 0 0; background: #c89c22 url('images/bg_header.jpg') no-repeat center top" align="center" valign="top">
						<h1 style="color: #ede6cb !important; font: normal 24px Georgia, serif; margin: 0; padding: 0; line-height: 28px;"><singleline label="Title">Enter Title Here</singleline></h1>
				    </td>
			      </tr>
				  <tr>
			        <td style="margin: 0; padding: 25px 0 0;" align="center" valign="top">
						<p><singleline label="Title">TAGLINE GOES HERE</singleline></p>
			        </td>
			      </tr>
				  <tr>
					  <td style="font-size: 1px; height: 15px; line-height: 1px;" height="15">&nbsp;</td>
				  </tr>	
				</table><!-- header-->
				<table cellpadding="0" cellspacing="0" border="0" align="center" width="599" style="font-family: Georgia, serif;">
			      <tr>
			        <td width="599" valign="top" align="left" bgcolor="#ffffff" style="font-family: Georgia, serif; background: #fff; border-top: 5px solid #e5bd5f; padding: 0 0 10px;" class="content">
						<table cellpadding="0" cellspacing="0" border="0" style="color: #717171; font: normal 11px Georgia, serif; margin: 0; padding: 0;" width="599">
						<tr>
							<td width="15" style="font-size: 1px; line-height: 1px; width: 15px;"><img src="images/spacer.gif" alt="space" width="15" /></td>
							<td style="padding: 15px 0 5px; font-family: Georgia, serif;" valign="top" align="center" width="569">
								<img src="images/divider_top_full.png" alt="divider" /><br />
								<h3 style="color:#c58123; font-weight: bold; text-transform: uppercase; margin: 0; padding: 0; line-height: 22px; font-size: 10px;"><currentdayname /> <currentday /> {{ helper:date format="F" }}</h3>
							</td>
							<td width="15" style="font-size: 1px; line-height: 1px; width: 15px;"><img src="images/spacer.gif" alt="space" width="15" /></td>
						</tr>
						<repeater>
						<tr>
							<td colspan="3" style="padding: 0; margin: 0;" valign="top">	
								<table cellpadding="0" cellspacing="0" bgcolor="#ffffff" border="0" style="color: #717171; font: normal 11px Helvetica, Arial, sans-serif; margin: 0; padding: 0;" width="415">	
									<tr>
										<td width="15" style="font-size: 1px; line-height: 1px; width: 15px;"><img src="images/spacer.gif" alt="space" width="15" /></td>
										<td style="padding: 10px 0 0; font-family: Helvetica, Arial, sans-serif;" align="left">			
											<h2 style="color:#393023 !important; font-weight: bold; margin: 0; padding: 0; line-height: 30px; font-size: 17px;font-family: Helvetica, Arial, sans-serif;"><singleline label="Title">Enter Title Here</singleline></h2>
										</td>
										<td width="15" style="font-size: 1px; line-height: 1px; width: 15px;"><img src="images/spacer.gif" alt="space" width="15" /></td>
									</tr> 
									<tr>
										<td width="15" style="font-size: 1px; line-height: 1px; width: 15px;"><img src="images/spacer.gif" alt="space" width="15" /></td>
										<td style="padding: 10px 0 0; font-family: Helvetica, Arial, sans-serif;" align="left">			
											<img alt="" width="250" style="border: 5px solid #f7f7f4;" align="right" editable="true" label="Image" /><p><multiline label="Description">Enter description here</multiline></p>
										</td>
									</tr>
									<tr>
										<td width="15" style="font-size: 1px; line-height: 1px; width: 15px;"><img src="images/spacer.gif" alt="space" width="15" /></td>
										<td style="padding: 10px 0 0; font-family: Helvetica, Arial, sans-serif;" align="left">
											<img src="images/divider_full.png" alt="divider" />
										</td>
										<td width="15" style="font-size: 1px; line-height: 1px; width: 15px;"><img src="images/spacer.gif" alt="space" width="15" /></td>
									</tr>
								</table>
							</td>
						</tr>
						</repeater>
						</table> 
						<br /><br />	
					</td>
			      </tr>
				 <tr>
					  <td style="font-size: 1px; height: 10px; line-height: 1px;" height="10"><img src="images/spacer.gif" alt="space" width="15" /></td>
				  </tr>
				</table><!-- body -->
				<table cellpadding="0" cellspacing="0" border="0" align="center" width="599" style="font-family: Georgia, serif; line-height: 10px;" bgcolor="#464646" class="footer">
			      <tr>
			        <td bgcolor="#464646" align="center" style="padding: 15px 0 10px; font-size: 11px; color:#bfbfbf; margin: 0; line-height: 1.2;font-family: Helvetica, Arial, sans-serif;" valign="top">
						<p style="font-size: 11px; color:#bfbfbf; margin: 0; padding: 0;font-family: Helvetica, Arial, sans-serif;"><singleline label="Title">You are receiving this newsletter because you signed up at yoursite.com or bought widgets from us.</singleline></p>
						<p style="font-size: 11px; color:#bfbfbf; margin: 0 0 10px 0; padding: 0;font-family: Helvetica, Arial, sans-serif;">Having trouble reading this? <a href="{{ url:webversion }}" style="color: #0fa2e6; text-decoration: none;">View it in your browser</a>. Not interested anymore? <a href="{{ url:unsubscribe }}" style="color: #0fa2e6; text-decoration: none;">Unsubscribe</a> Instantly.</p>
					</td>
			      </tr>
				</table><!-- footer-->
		  	</td>
		</tr>
    </table>
  </body>
</html>