<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en">
  <head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    <title>
      Boutique
    </title>
	<style type="text/css">
	a:hover { text-decoration: none !important; }
	.header h1 {color: #ede6cb !important; font: normal 24px Georgia, serif; margin: 0; padding: 0; line-height: 28px;}
	.header p {color: #645847; font: bold 11px Georgia, serif; margin: 0; padding: 0; line-height: 12px; text-transform: uppercase;}
	.sidebar ul  { color: #826339; margin: 0 0 0 10px; padding: 0 0 0 5px; font-size: 12px;font-family: Georgia, serif;}
	.sidebar ul li {padding: 0 0 7px; margin: 0;}
	.sidebar ul li a { text-decoration: none; color: #826339; }
	.sidebar h4{color:#826339 !important; font-size: 11px;line-height: 16px;font-family: Helvetica, Arial, sans-serif; margin: 0; padding: 0;}
	.sidebar p {line-height: 16px; color:#717171; margin: 0; padding: 0}
	.sidebar a{color: #0fa2e6; text-decoration: none;}
	.content h2 {color:#393023 !important; font-weight: bold; margin: 0; padding: 0; line-height: 30px; font-size: 17px;font-family: Helvetica, Arial, sans-serif; }
	.content p {color:#767676; font-weight: normal; margin: 0; padding: 0; line-height: 20px; font-size: 12px; font-family: Helvetica, Arial, sans-serif;}
	.content a {color: #0fa2e6; text-decoration: none;}
	.footer p {font-size: 11px; color:#bfbfbf; margin: 0; padding: 0;font-family: Helvetica, Arial, sans-serif; width:500px;}
	.footer a {color: #0fa2e6; text-decoration: none;}
	</style>
  </head>
  <body style="margin: 0; padding: 0; background: #f3dc74 url('images/bg_email.jpg') no-repeat center top;" bgcolor="#f3dc74">
  	<table cellpadding="0" cellspacing="0" border="0" align="center" width="100%" style="background:#f3dc74 url('images/bg_email.jpg') no-repeat center top; padding: 15px 0 35px">
		  <tr>
		  	<td align="center">
			    <table cellpadding="0" cellspacing="0" border="0" align="center" width="599" style="font-family: Georgia, serif; background: url('images/bg_header.jpg') no-repeat center top" height="142" class="header">
			      <tr>
			        <td style="margin: 0; padding: 40px 0 0; background: #c89c22 url('images/bg_header.jpg') no-repeat center top" align="center" valign="top">
						<h1 style="color: #ede6cb !important; font: normal 24px Georgia, serif; margin: 0; padding: 0; line-height: 28px;"><singleline label="Title">Enter Title Here</singleline></h1>
				    </td>
			      </tr>
				  <tr>
			        <td style="margin: 0; padding: 25px 0 0;" align="center" valign="top">
						<p><singleline label="Title">TAGLINE GOES HERE</singleline></p>
			        </td>
			      </tr>
				  <tr>
					  <td style="font-size: 1px; height: 15px; line-height: 1px;" height="15">&nbsp;</td>
				  </tr>	
				</table><!-- header-->
				<table cellpadding="0" cellspacing="0" border="0" align="center" width="599" style="font-family: Georgia, serif;">
			      <tr>
			        <td width="174" valign="top" align="left" style="font-family: Georgia, serif; background-color: #faedb9; border-top: 5px solid #e5bd5f; padding-bottom: 25px" bgcolor="#faedb9" class="sidebar">
						<table cellpadding="0" cellspacing="0" border="0" style="color: #717171; font: normal 11px Georgia, serif; margin: 0; padding: 0; " width="174" bgcolor="#faedb9">
						<tr>
							<td width="11" style="font-size: 1px; line-height: 1px;">&nbsp;</td>
							<td style="padding: 25px 0 5px;" valign="top" align="left">
								<h3 style="color:#393023; font-weight: bold; margin: 0; padding: 0; line-height: 13px; font-size: 15px;font-family: Helvetica, Arial, sans-serif;">In this issue</h3>
							</td>
							<td width="5" style="font-size: 1px; line-height: 1px;">&nbsp;</td>
						</tr>
						<tr>
							<td width="11" style="font-size: 1px; line-height: 1px;">&nbsp;</td>
							<td style="padding: 5px 0 0;">			
								<ul style="color: #826339; margin: 0 0 0 10px; padding: 0 0 0 5px; font-size: 12px;font-family: Georgia, serif;">
									
									<tableofcontents>
        	                          <li style="padding: 0 0 7px; margin: 0;">
        	                          <repeatertitle />
      	                             </li>
        	                          </tableofcontents>
								</ul>
							</td>
							<td width="5" style="font-size: 1px; line-height: 1px;">&nbsp;</td>
						</tr>
						<tr>
							<td width="11" style="font-size: 1px; line-height: 1px;">&nbsp;</td>
							<td style="padding: 15px 0 5px;" valign="top" align="left">
								<h3 style="color:#393023; font-weight: bold; margin: 0; padding: 0; line-height: 13px; font-size: 15px;font-family: Helvetica, Arial, sans-serif;">In other news</h3>
							</td>
							<td width="5" style="font-size: 1px; line-height: 1px;">&nbsp;</td>
						</tr>
						<repeater>
						<tr>
							<td colspan="3">
								<table cellpadding="0" cellspacing="0" border="0" style="color: #717171; font: normal 11px Georgia, serif; margin: 0; padding: 0; " width="174">	
								<tr>
									<td width="11" style="font-size: 1px; line-height: 1px;">&nbsp;</td>
									<td style="padding: 5px 0 0; font-family: Georgia, serif; ">			
										<h4 style="color:#826339 !important; font-size: 11px;line-height: 16px;font-family: Helvetica, Arial, sans-serif; margin: 0; padding: 0;"><singleline label="Title">Enter Title Here</singleline></h4>
									</td>
									<td width="5" style="font-size: 1px; line-height: 1px;">&nbsp;</td>
								</tr>
								<tr>
									<td width="11" style="font-size: 1px; line-height: 1px;">&nbsp;</td>
									<td style="padding: 5px 0 10px; font-family: Georgia, serif; ">		
										<multiline label="Description"><p>Enter description here.</p></multiline>
									</td>
									<td width="5" style="font-size: 1px; line-height: 1px;">&nbsp;</td>
								</tr>								
								</table>
							</td>
						</tr>
						</repeater>			
						<tr>
							<td width="11" style="font-size: 1px; line-height: 1px;">&nbsp;</td>
							<td style="padding: 7px 0 5px; font-family: Georgia, serif; " valign="top" align="left">
								<h3 style="color:#393023; font-weight: bold; margin: 0; padding: 0; line-height: 13px; font-size: 15px;font-family: Helvetica, Arial, sans-serif;">Forward to a friend</h3>
							</td>
							<td width="5" style="font-size: 1px; line-height: 1px;">&nbsp;</td>
						</tr>
						<tr>
							<td width="11" style="font-size: 1px; line-height: 1px;">&nbsp;</td>
							<td style="padding: 5px 0 0; font-family: Georgia, serif; " valign="top">			
								<p style="line-height: 16px; font-family: Georgia, serif;  color:#717171;margin:0; padding: 0">Know someone who might be interested in the email? Why not <a href="{{ url:forward }}" style="color: #0fa2e6; text-decoration: none;">forward this email</a> to them.</p>
							</td>
							<td width="5" style="font-size: 1px; line-height: 1px;">&nbsp;</td>
						</tr>	
						<tr>
							<td width="11" style="font-size: 1px; line-height: 1px;">&nbsp;</td>
							<td style="padding: 20px 0 5px;font-family: Georgia, serif; " valign="top" align="left">
								<h3 style="color:#393023; font-weight: bold; margin: 0; padding: 0; line-height: 13px; font-size: 15px;font-family: Helvetica, Arial, sans-serif;">Unsubscribe</h3>
							</td>
						</tr>
						<tr>
							<td width="11" style="font-size: 1px; line-height: 1px;">&nbsp;</td>
							<td style="padding: 5px 0 0;font-family: Georgia, serif; " valign="top">			
								<p style="line-height: 16px;font-family: Georgia, serif;  color:#717171; margin:0; padding: 0">Don’t want to receive these emails anymore? You can <a href="{{ url:unsubscribe }}" style="color: #0fa2e6; text-decoration: none;">unsubscribe</a> instantly.</p>
							</td>
							<td width="5" style="font-size: 1px; line-height: 1px;">&nbsp;</td>
						</tr>
						</table>
					</td>
					<td width="11" style="font-size: 1px; font-family: Georgia, serif;">&nbsp;</td>
					<td width="415" valign="top" align="left" bgcolor="#ffffff" style="font-family: Georgia, serif; background: #fff; border-top: 5px solid #e5bd5f" class="content">
						<table cellpadding="0" cellspacing="0" bgcolor="#ffffff" border="0" style="color: #717171; font: normal 11px Helvetica, Arial, sans-serif; margin: 0; padding: 0;" width="415">
							<tr>
								<td width="15" style="font-size: 1px; line-height: 1px; width: 15px;"><img src="images/spacer.gif" alt="space" width="15" /></td>
								<td style="padding: 15px 0 5px; font-family: Georgia, serif;" valign="top" align="center" width="385">
									<img src="images/divider_top.png" alt="divider" /><br />
									<h3 style="color:#c58123; font-weight: bold; text-transform: uppercase; margin: 0; padding: 0; line-height: 22px; font-size: 10px;"><currentdayname /> <currentday /> {{ helper:date format="F" }}</h3>
								</td>
								<td width="15" style="font-size: 1px; line-height: 1px; width: 15px;"><img src="images/spacer.gif" alt="space" width="15" /></td>
							</tr>
							<repeater>
							<tr>
								<td colspan="3" style="padding: 0; margin: 0;" valign="top">	
									<table cellpadding="0" cellspacing="0" bgcolor="#ffffff" border="0" style="color: #717171; font: normal 11px Helvetica, Arial, sans-serif; margin: 0; padding: 0;" width="415">	
										<tr>
											<td width="15" style="font-size: 1px; line-height: 1px; width: 15px;"><img src="images/spacer.gif" alt="space" width="15" /></td>
											<td style="padding: 10px 0 0; font-family: Helvetica, Arial, sans-serif;" align="left">			
												<h2 style="color:#393023 !important; font-weight: bold; margin: 0; padding: 0; line-height: 30px; font-size: 17px;font-family: Helvetica, Arial, sans-serif;"><singleline label="Title" repeatertitle="true">Enter Title Here</singleline></h2>
											</td>
											<td width="15" style="font-size: 1px; line-height: 1px; width: 15px;"><img src="images/spacer.gif" alt="space" width="15" /></td>
										</tr>
										<tr>
											<td width="15" style="font-size: 1px; line-height: 1px; width: 15px;"><img src="images/spacer.gif" alt="space" width="15" /></td>
											<td style="padding: 10px 0 0; font-family: Helvetica, Arial, sans-serif;" align="left">		
												<img alt="" width="375" style="border: 5px solid #f7f7f4;" editable="true" label="Image" />
											</td>
										</tr>
										<tr>
											<td width="15" style="font-size: 1px; line-height: 1px; width: 15px;"><img src="images/spacer.gif" alt="space" width="15" /></td>
											<td style="padding: 10px 0 0; font-family: Helvetica, Arial, sans-serif;" align="left">			
												<multiline label="Description"><p>
													Suspendisse potenti--Fusce eu <a href="#" style="color: #0fa2e6; text-decoration: none;">ante in sapien</a> vestibulum sagittis.
												</p></multiline>
											</td>
										</tr>
										<tr>
											<td width="15" style="font-size: 1px; line-height: 1px; width: 15px;"><img src="images/spacer.gif" alt="space" width="15" /></td>
											<td style="padding: 10px 0 0; font-family: Helvetica, Arial, sans-serif;" align="left">
												<img src="images/divider.png" alt="divider" />
											</td>
											<td width="15" style="font-size: 1px; line-height: 1px; width: 15px;"><img src="images/spacer.gif" alt="space" width="15" /></td>
										</tr>
									</table>
								</td>
							</tr>
							</repeater>
						</table> 
						<br /><br />   
					</td>
			      </tr>
				 <tr>
					  <td style="font-size: 1px; height: 10px; line-height: 1px;" height="10">&nbsp;</td>
				  </tr>
				</table><!-- body -->
				<table cellpadding="0" cellspacing="0" border="0" align="center" width="599" style="font-family: Georgia, serif; line-height: 10px;" bgcolor="#464646" class="footer">
			      <tr>
			        <td bgcolor="#464646" align="center" style="padding: 15px 0 10px; font-size: 11px; color:#bfbfbf; margin: 0; line-height: 1.2;font-family: Helvetica, Arial, sans-serif;" valign="top">
						<p style="font-size: 11px; color:#bfbfbf; margin: 0; padding: 0;font-family: Helvetica, Arial, sans-serif;"><singleline label="Title">You are receiving this newsletter because you signed up at yoursite.com or bought widgets from us.</singleline></p>
						<p style="font-size: 11px; color:#bfbfbf; margin: 0 0 10px 0; padding: 0;font-family: Helvetica, Arial, sans-serif;">Having trouble reading this? <a href="{{ url:webversion }}" style="color: #0fa2e6; text-decoration: none;">View it in your browser</a>. Not interested anymore? <a href="{{ url:unsubscribe }}" style="color: #0fa2e6; text-decoration: none;">Unsubscribe</a> Instantly.</p>
					</td>
			      </tr>
				</table><!-- footer-->
		  	</td>
		</tr>
    </table>
  </body>
</html>