<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
	<head>
		<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />	
		<title>Newsletter template</title>
		<!--general stylesheet-->
		<style type="text/css">
			h1, h2, h3, h4, h5 { margin: 0; padding: 0; }
			p { padding: 0; margin: 0; }
			h2, h3, p, li { font-family: Georgia, Times, Times New Roman, Palatino, Palatino Linotype, serif; color: #ffffff !important; }
			td { vertical-align:top;}
			ul, ol { margin: 0; padding: 0;}
			h1, .date { font-family:"Lucida Fax",Georgia,Helvetica,Arial,sans-serif; }
			.content-item h2 {  margin: 0; padding: 0; font-size: 18px; font-weight: normal; color: #ffffff !important;}
			.content-item a { color: #ff9e9e; text-decoration: underline; font-weight: normal;}
			.content-item p {  margin: 0 0 15px; padding: 0; font-size: 12px; font-weight: normal; line-height: 20px; color: #ffffff;}
			.sidebar p a {  color:#e97f7f; text-decoration: none;}
			.address p{  font-size: 13px; text-align: center; font-family:Lucida Grande,Lucida Sans Unicode,arial,sans-serif; color: #ffadad;}
			a { color: #ff9e9e; text-decoration: underline; font-weight: normal;}
		</style>
	</head>
	<body marginheight="0" topmargin="0" marginwidth="0" leftmargin="0" background="" style="margin: 0px; background-color: #652416; background-image: url(''); background-repeat: repeat;" bgcolor="#652416">
		<table cellspacing="0" border="0" cellpadding="0" width="100%">
			<tbody>
				<tr valign="top">
					<td><!--container-->
						<table cellspacing="0" cellpadding="0" border="0" align="center" bgcolor="#652416" width="750" height="1000">
							<tbody>
								<tr><!--content-->
									<td>
										<table cellspacing="0" cellpadding="0" border="0" align="center" width="700">
											<tbody>
												<tr>
													<td valign="top" background="images/head-area.jpg" bgcolor="#c52223" height="144">
														<table cellspacing="0" cellpadding="0" border="0" align="center" width="100%" height="144" style="height: 144px !important;">
															<tbody>
																<tr>
																	<td valign="middle" width="500" style="vertical-align:middle;">
																		<table cellspacing="0" cellpadding="0" border="0" align="left" width="100%" height="100%">
																			<tbody>
																				<tr>
																					<td colspan="2" height="55" valign="top">&nbsp;</td>
																				</tr>
																				<tr>
																					<td width="28" valign="top">&nbsp;</td>
																					<td valign="top">
																						<h1 style="font-size:28px; font-weight: normal; color: #ffffff !important; margin:0; padding: 0; font-family:Lucida Fax,Georgia,Helvetica,Arial,sans-serif;">
																						<singleline label="Title">Enter Newsletter Title Here</singleline>
																					</h1>
																					<h2 class="date" style="font-size:16px; font-weight: normal; color: #f8aaaa !important; margin:0; padding: 0; font-family:Lucida Fax,Georgia,Helvetica,Arial,sans-serif;">
																						{{ helper:date format="F" }} Newsletter
																					</h2>
																					</td>
																				</tr>
																				<tr>
																					<td colspan="2" height="34" valign="top">&nbsp;</td>
																				</tr>
																			</tbody>
																		</table>
																		
																	</td>
																	<td valign="top" width="200">
																		<img width="200" height="144" src="images/art-brush.png" alt="" style="display:block;" />
																	</td>
																</tr>
															</tbody>
														</table>
													</td>
												</tr>
												<tr>
													<td height="26" valign="top" style="height: 26px;">&nbsp;</td>
												</tr>
												<tr>
													<td valign="top">
														<table cellspacing="0" cellpadding="0" border="0" align="center" width="100%">
															<tr>
																<td valign="top"><!--sidebar-->
																	<table cellspacing="0" cellpadding="0" border="0" align="left" width="238">
																		<tbody>
																			<tr>
																				<td valign="middle" background="images/sidebar-heading.jpg" bgcolor="#541b0f" height="40" style="height:40px; vertical-align:middle;">
																					<h2 style="margin:0; padding:0; font-size:20px; font-weight:normal; color:#ffffff !important; text-transform: uppercase; text-align:center; letter-spacing:1px;">
																						IN THIS ISSUE
																					</h2>
																				</td>
																			</tr>
																			<tr>
																				<td valign="middle" style="vertical-align:middle; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: #561e12;">
																					<table cellspacing="0" cellpadding="0" border="0" align="left" width="100%" style=" border-bottom-width: 10px; border-bottom-style: solid; border-bottom-color: #652416; border-top-width: 11px; border-top-style: solid; border-top-color: #652416;">
																						<tbody>
																							<tableofcontents>
																							<tr>
																								<td valign="top" height="13" width="18" style="padding-bottom:4px; padding-top:4px;">
																									<img width="18" height="13" src="http://newsletters.urldock.com/metalab-william/images/bullet.jpg" style="display:block;" />
																								</td>
																								<td valign="top" style="padding-bottom:4px; padding-top:4px; font-size:13px; font-style: italic; color:#e97f7f; text-align: left; font-family: Georgia, Times, Times New Roman; line-height:1;">
																									<repeatertitle />
																								</td>
																							</tr>
																							
																							</tableofcontents>
																						</tbody>
																					</table>
																				</td>
																			</tr>
																			<tr>
																				<td valign="top" style="border-top-width: 1px; border-top-style: solid; border-top-color: #6f2818;" class="sidebar-content">
																					<p style="width:230px; font-size: 11px; font-weight: normal; color:#ffffff; margin:0; padding:0; text-align: left; font-family:Arial; line-height: 16px; border-top-width: 10px; border-top-style: solid; border-top-color:#652416; border-bottom-width: 20px; border-bottom-style: solid; border-bottom-color:#652416;">
																						<singleline label="Title">You are receiving this newsletter because you signed up at <a href="http://artart.com">artart.com</a>.</singleline> Having trouble reading this email? You can <a href="{{ url:webversion }}" style="color:#e97f7f; text-decoration: none;">view it in your web browser</a>.
																					</p>
																				</td>
																			</tr>
																			<tr>
																				<td valign="middle" background="images/sidebar-heading.jpg" bgcolor="#541b0f" height="30" style="vertical-align:middle; height:30px;">
																					<table cellpadding="0" cellspacing="0" border="0" width="132" align="center">
																						<tr>
																							<td valign="top" width="25" style="text-align:left;">
																								<img width="17" height="11" src="images/envelope.jpg" alt="" style="vertical-align:middle;" />
																							</td>
																							<td valign="top">
																								<a href="{{ url:forward }}" style="text-align: center; font-family:Arial; color:#e97f7f; text-decoration: none; font-size:11px; font-weight: bold;">
																									Share with a friend
																								</a>
																							</td>
																						</tr>
																					</table>
																				</td>
																			</tr>
																		</tbody>
																	</table>
																</td>
																<td valign="top" width="432"><!--main content-->
																	<repeater>
																	
													<!--article--><table cellspacing="0" cellpadding="0" border="0" align="center" width="100%" style="border-bottom-width: 30px; border-bottom-style: solid; border-bottom-color: #652416;" class="content-item">
																		<tbody>
																			<tr>
																				<td valign="top" height="32" style="height: 32px; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: #cf2828;">
																					<h2>
																						<singleline label="Title" repeatertitle="true">Enter Article Title Here</singleline>
																					</h2>
																				</td>
																			</tr>
																			<tr>
																				<td valign="top" style="border-top-width: 10px; border-top-style: solid; border-top-color:#652416;">
																					<img width="428" height="211" alt="" style="display: block; border-width: 2px; border-style: solid; border-color: #541b0f; margin-bottom: 18px;" src="images/photo-2.gif" editable="true" label="Image" />
																					<multiline label="Description"><p>Enter article content here</p></multiline>
																				</td>
																			</tr>
																			
																		</tbody>
													<!--/article--></table></repeater>
																</td>
															</tr>
														</table>
													</td>
												</tr>
												<tr>
													<td valign="middle" height="46" background="http://newsletters.urldock.com/metalab-william/images/footer-area.jpg" bgcolor="#c52223" style="vertical-align:middle; height:46px;">
														<p style="color:#ffadad; font-size: 11px; text-align: center; font-family:Lucida Grande,Lucida Sans Unicode,arial,sans-serif;">
															Don't want to receive these newsletters anymore? Manage your <preferences style="color:#ffffff; font-weight: bold; text-decoration: none;" href="#">email preferences</preferences> here, or <a href="{{ url:unsubscribe }}" style="color:#ffffff; font-weight: bold; text-decoration: none;" href="#">unsubscribe</a>.
														</p>
													</td>
												</tr>
												<tr>
													<td height="60" valign="middle" style="vertical-align:middle; height:60px;color: #ffadad;" class="address">
														<multiline label="Description"><p>Art Institute &middot; 191 Fake Street &middot; Seattle, Washington</p></multiline>
													</td>
												</tr>
												<tr>
													<td height="50" valign="top" style="height:50px;">&nbsp;</td>
												</tr>
											</tbody>
										</table>
									</td><!--/content-->
								</tr>
							</tbody>
						</table><!--/container-->
					</td>
				</tr>
			</tbody>
		</table>
	</body>
</html>