<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Meagan Fisher CM1</title>
<style type="text/css">
h1 { font-family: Georgia, Times New Roman, Times, serif; font-size: 32px; color: #355f5f !important; margin: 0; padding: 0; font-style: italic; }
h2 { font-family: Georgia, Times New Roman, Times, serif; font-size: 20px; color: #ad5e0a !important; margin: 0 0 7px 0; }
h3, li, li a { font-family: Georgia, Times New Roman, Times, serif; font-size: 11px; color: #ad5e0a !important; margin: 5px 0 12px 0; text-decoration: none; font-weight: bold; }
h5 { font-family:Georgia, Times New Roman, Times, serif; font-size:10px; color:#524e48 !important; text-transform:uppercase; margin:0; padding:0; }
p { font-family: Georgia, Times New Roman, Times, serif; font-size: 14px; line-height: 21px; color: #524e48; margin: 0 0 12px 0; }
.top p { font-family: Georgia, Times New Roman, Times, serif; color: #fefefe; font-size: 12px; margin-top: 0px; margin-bottom: 0; text-align: center; }
.footer p { font-family:Georgia, Times New Roman, Times, serif; font-size:11px; color:#859d9b; margin: 0; }
ul { margin: 0px; padding: 5px 0 0 0; list-style: none; }
li { padding-left: 15px; background:url(images/bullet.gif) 0 3px no-repeat; }
.sidebar p { font-size: 11px; }
.short ul { padding: 0px; margin: 0px; }
.short li { margin: 0px; }
.short p { margin: 0px; }
</style>
</head>
<body style="margin:0; padding:0; background-color:#a89880; background-image:url(images/bg-all.jpg); background-repeat:repeat;">
<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" style="background-color:#a89880; background-image:url(images/bg-all.jpg); background-repeat:repeat;">
    <tr>
        <td valign="top" align="center">
            <table width="620" border="0" cellpadding="0" cellspacing="0" align="center" style="">
                <tr>
                    <td align="center" valign="top" style="padding-top:10px;">
                        <table class="top" width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <td valign="top" height="50">
                                    <multiline label="Description"><p>You are receiving this newsletter because you signed up for it or brought somthing from us.</p></multiline>
                                    <p>Having trouble reading this email?
                                        <a href="{{ url:webversion }}" style="color:#cbdfdb; text-decoration: none;">View it in your browser</a>
                                        . Not interested anymore?
                                        <a href="{{ url:unsubscribe }}" style="color:#cbdfdb; text-decoration: none;">Unsubscribe</a>
                                        .</p>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td align="left" valign="top">
                        <table width="100%" border="0" cellpadding="0" cellspacing="0" style="background-color:#f6f2e6; background-image:url(images/bg-paper-middle.jpg); background-repeat:repeat-y;">
                            <tr>
                                <td colspan="3" style="background-image:url(images/border-top.gif); background-repeat:no-repeat"><img src="images/spacer.gif" width="620" height="41" style="display:block;" /></td>
                            </tr>
                            <tr>
                                <td width="32" align="left" valign="top" style="background-image:url(images/border-left.gif); background-repeat:repeat-y"><img src="images/spacer.gif" width="32" height="1" style="display:block" /></td>
                                <td align="left" valign="top">
                                    <table width="100%" border="0" cellpadding="0" cellspacing="0" style="background-image:url(images/bg-content.gif); background-repeat:no-repeat; background-position:top right">
                                        <tr>
                                            <!-- sidebar -->
                                            <td class="sidebar" width="181" align="left" valign="top" style="background-color:#f2efe3; background-image:url(images/bg-sidebar.gif); background-repeat:repeat;">
                                                <table width="164" border="0" cellpadding="0" cellspacing="0" style="border-bottom:1px solid #89a5a0; border-left:1px solid #89a5a0; border-top:1px solid #89a5a0; border-right:none; height:22px;">
                                                    <tr>
                                                        <td width="152" style="background-color:#abbebb; background-image:url(images/ribbon-bg.gif); background-repeat:no-repeat; padding-left:30px;">
                                                            <h5>Content</h5>
                                                        </td>
                                                        <td><img src="images/ribbon-right.gif" width="12" height="22" style="display:block" /></td>
                                                    </tr>
                                                </table>
                                                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                    <tr>
                                                        <td width="20"></td>
                                                        <td>
                                                            <ul>
                                                                <tableofcontents>
                                                                    <li>
                                                                        <repeatertitle />
                                                                    </li>
                                                                </tableofcontents>
                                                            </ul>
                                                        </td>
                                                    </tr>
                                                </table>
                                                <table width="164" border="0" cellpadding="0" cellspacing="0" style="border-bottom:1px solid #89a5a0; border-left:1px solid #89a5a0; border-top:1px solid #89a5a0; border-right:none; height:22px;">
                                                    <tr>
                                                        <td width="152" style="background-color:#abbebb; background-image:url(images/ribbon-bg.gif); background-repeat:no-repeat; padding-left:30px;">
                                                            <h5>
                                                                <singleline label="Title">In Short</singleline>
                                                            </h5>
                                                        </td>
                                                        <td><img src="images/ribbon-right.gif" width="12" height="22" style="display:block" /></td>
                                                    </tr>
                                                </table>
                                                <repeater>
                                                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                        <tr>
                                                            <td width="20"></td>
                                                            <td class="short">
                                                                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                                    <tr>
                                                                        <td class="short" height="10"></td>
                                                                    </tr>
                                                                </table>
                                                                <ul>
                                                                    <li>
                                                                        <singleline label="Title">Enter title here</singleline>
                                                                    </li>
                                                                </ul>
                                                                <table width="145" border="0" cellspacing="0" cellpadding="0">
                                                                    <tr>
                                                                        <td width="12"></td>
                                                                        <td>
                                                                            <multiline label="Description"><p>Enter description here</p></multiline>
                                                                        </td>
                                                                    </tr>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </repeater>
                                                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                    <tr>
                                                        <td height="12"></td>
                                                    </tr>
                                                </table>
                                                <table width="164" border="0" cellpadding="0" cellspacing="0" style="border-bottom:1px solid #89a5a0; border-left:1px solid #89a5a0; border-top:1px solid #89a5a0; border-right:none; height:22px;">
                                                    <tr>
                                                        <td width="152" style="background-color:#abbebb; background-image:url(images/ribbon-bg.gif); background-repeat:no-repeat; padding-left:30px;">
                                                            <h5>Share This</h5>
                                                        </td>
                                                        <td><img src="images/ribbon-right.gif" width="12" height="22" style="display:block" /></td>
                                                    </tr>
                                                </table>
                                                <table width="100%" border="0" cellspacing="0" cellpadding="0" style="margin:5px 0;">
                                                    <tr>
                                                        <td valign="top" align="right" style="padding:7px 8px 0 18px;"><img src="images/bullet.gif" width="4" height="7" align="top" /></td>
                                                        <td align="left" style="padding-right:15px;">
                                                            <p>Know someone who might be interested in this email? Why not
                                                                <a href="{{ url:forward }}" style="color:#ad5e0a; text-decoration:none"><em>forward it to a friend</em></a>
                                                            </p>
                                                        </td>
                                                    </tr>
                                                </table>
                                                <table width="164" border="0" cellpadding="0" cellspacing="0" style="border-bottom:1px solid #89a5a0; border-left:1px solid #89a5a0; border-top:1px solid #89a5a0; border-right:none; height:22px;">
                                                    <tr>
                                                        <td width="152" style="background-color:#abbebb; background-image:url(images/ribbon-bg.gif); background-repeat:no-repeat; padding-left:30px;">
                                                            <h5>Unsubscribe</h5>
                                                        </td>
                                                        <td><img src="images/ribbon-right.gif" width="12" height="22" style="display:block" /></td>
                                                    </tr>
                                                </table>
                                                <table width="100%" border="0" cellspacing="0" cellpadding="0" style="margin:5px 0;">
                                                    <tr>
                                                        <td valign="top" align="right" style="padding:7px 8px 0 18px;"><img src="images/bullet.gif" width="4" height="7" align="top" /></td>
                                                        <td align="left" style="padding-right:15px;">
                                                            <p>If you no longer wish to receive this email please
                                                                <a href="{{ url:unsubscribe }}" style="color:#ad5e0a; text-decoration:none;"><em>unsubscribe</em></a>
                                                                .</p>
                                                        </td>
                                                    </tr>
                                                </table>
                                                <img src="images/spacer.gif" width="181" height="1" style="display:block" /></td>
                                            <!-- main column -->
                                            <td width="373" align="left" valign="top" style="padding-left:29px;">
                                                <table width="100%" border="0" cellpadding="0" cellspacing="0">
                                                    <tr>
                                                        <td align="left" valign="top">
                                                            <p style="font-family:Georgia, 'Times New Roman', Times, serif; font-size:12px; text-transform:uppercase; color:#524e48; margin:0; padding-left:19px;">
                                                                {{ helper:date format="F" }}
                                                                <currentday />
                                                                ,
                                                                {{ helper:date format="Y" }}
                                                            </p>
                                                            <img src="images/divider.gif" width="344" height="25" style="display:block;" />
                                                            <h1>
                                                                <singleline label="Title">Enter title here</singleline>
                                                            </h1>
                                                            <img src="images/divider.gif" width="344" height="25" style="display:block;" /> </td>
                                                    </tr>
                                                    <tr>
                                                        <td align="left" valign="top" style="padding:0 15px 0 0;">
                                                            <repeater>
                                                                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                                    <tr>
                                                                        <td>
                                                                            <h2>
                                                                                <singleline label="Title" repeatertitle="true">Enter title here</singleline>
                                                                            </h2>
                                                                            <img width="295" style="border: solid 10px #ddd5bf; margin: 10px 0 10px 0;" editable="true" label="Image" />
                                                                            <multiline label="Description"><p>Enter description here</p></multiline>
                                                                            <img src="images/divider-blue.gif" width="329" height="4" style="display:block; margin-top: 0px; margin-bottom: 0px;" />
                                                                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                                                <tr>
                                                                                    <td height="15"></td>
                                                                                </tr>
                                                                            </table>
                                                                        </td>
                                                                    </tr>
                                                                </table>
                                                            </repeater>
                                                            <table class="footer" width="100%" border="0" cellspacing="0" cellpadding="0">
                                                                <tr>
                                                                    <td style="padding: 10px 0 10px 0;" valign="middle">
                                                                        <multiline label="Description"><p>123 Some Street, City, ST 99999. ph +1 4 1477 89 745</p></multiline>
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td width="32" align="right" valign="top" style="background-image:url(images/border-right.gif); background-repeat:repeat-y;">&nbsp;</td>
                            </tr>
                            <tr>
                                <td height="20" colspan="3" style="background:url(images/border-bottom.gif); background-repeat:no-repeat;"></td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
</body>
</html>